# PYTHON BASIC NOTEBOOK - I

#

# GETTING STARTED WITH PYTHON

# COMMENTS IN PYTHON

In [1]:
#comments in python
# hey, this is a comment use a "#" to write comments

# print() FUNCTIION IN PYTHON

## HELPS IN PRINTING OR DISPLAYING THE OUTPUT

In [2]:
print("hey i am using the print() function with double quotes")

hey i am using the print() function with double quotes

In [3]:
print('hey i am using the print() function with double quotes')

hey i am using the print() function with double quotes

In [4]:
print("Math is fun so don't be resistant\nJust learn the rules,the are consistent\nand most impoetant, \
you must ber persistent!\n\n thank you !!!")

Math is fun so don't be resistant
Just learn the rules,the are consistent
and most impoetant, you must ber persistent!

 thank you !!!

In [5]:
print("first line \
together with secondf")

len("first line\
together with secondf")

first line together with secondf

31

In [6]:
print("""first line 
together with secondf""")

len("""first line
together with secondf""")

first line
together with secondf

32

# PYTHON FUNDAMENTALS

# len() funcion gives length of object

In [7]:
len("rahul")

5

In [8]:
a = 1, 234  # make a as tuple()
print(type(a))
a

<class 'tuple'>

(1, 234)

In [9]:
a = 2+3j  # is acomplex number where j=root of (-1)
print(type(a))
a

<class 'complex'>

(2+3j)

# None keyword

In [10]:
a = None  # it store nothing or absence of value
a

In [11]:
print(a)

None

# multiline comment

In [12]:
'''this is another way to erite comment
in multiline block'''

print("comment not getting printed")

comment not getting printed

# variable craetion

In [13]:
a = "hello i am string variable"
print(type(a))

<class 'str'>

In [14]:
a = 24

print("hi i am integer variable\n", type(a))

hi i am integer variable
 <class 'int'>

In [15]:
# python dont have fixed variable location, rather the variables in this are poin only

# multiple assignment

In [16]:
a = b = c = 188
print(a)
print(b)
print(c)

188
188
188

In [17]:
a, b, c = 10, 20, 30
print(a)
print(b)
print(c)

10
20
30

In [18]:
# swapping values is easy
a = 20
b = 30
print(a)
print(b)

a, b = b, a

print(a)
print(b)

20
30
30
20

In [19]:
p, q = 3, 5
q, r = p-2, p+2
print(p, q, r)

3 1 5

In [20]:
x, x = 20, 30  # it will give x latest value i.e. 30
# it will give y llatest x value sum with the latest sum i.e latest(X)+20 -> 30+20=50
y, y = x+10, x+20
print(x, y)

30 50

# I/O in python1

In [21]:
# take input
a = input("enter the in put")
print(a)

# by default the input is taken as string type

print(type(a))

enter the in putrahul
rahul
<class 'str'>

In [22]:
# we can use int() or float() function to convert the input() vale to integer or string resp,.
integer = int(input("enter the integer"))
print(integer)
print(type(integer))

real = float(input("enter the float"))
print(real)
print(type(real))

enter the integer25
25
<class 'int'>
enter the float233.4
233.4
<class 'float'>

In [23]:
# the input must be integre only no other else it cant be converted

integer = int(input("enter the integer"))
print(integer)
print(type(integer))

enter the integer345
345
<class 'int'>

In [24]:
# format: print("str",<variale>,sep=<seperator between the arg seperated by comma(by feault is space)>,end="termination character")

print("use this function to output statement")

use this function to output statement

In [25]:
a = "hgello"
print(a, "rahul", sep="<whitepace>", end="<endline cahracter>")

hgello<whitepace>rahul<endline cahracter>

In [26]:
# sep in print() puts the charcter to be used to sepearte the variablr or strings in print() function
# end in print() puts the charcter to be used at the end of the strings in print() function

print("rul is seperated by", 25, ".", sep="$")

print("rul is ended by", end='$')
print("next print()")

rul is seperated by$25$.
rul is ended by$next print()

# program to obtain three numbers and prnt there sum

In [27]:
num1 = int(input("enter the number 1: "))
num2 = int(input("enter the number 2: "))
num3 = int(input("enter the number 3: "))
s = num1+num2+num3
print("the sum of the three number", num1, ",", num2, ",", num3, "is:", s)

enter the number 1: 34
enter the number 2: 44
enter the number 3: 45
the sum of the three number 34 , 44 , 45 is: 123

# take length and breadth of rectangle and print it's area

In [28]:
l = float(input("enter the length of rectangle: "))
b = float(input("enter the breadth of rectangle: "))
print("the area of ractangle is:", l*b)

enter the length of rectangle: 55
enter the breadth of rectangle: 34
the area of ractangle is: 1870.0

# program to calculate bmi of person

## bmi=weight/square of heigth

In [29]:
w = float(input("enter the weight of peraon: "))
h = float(input("enter the height of peraon (in meters): "))
print("the bmi of person is:", w/(h*h))

enter the weight of peraon: 59
enter the height of peraon (in meters): 158
the bmi of person is: 0.0023634033007530844

# program to convert celcius to farhenit

## f = c X (9/5)+32

In [30]:
c = float(input("enter the temprature in cerlcius: "))
f = c*(9/5)+32
print("the temprature", c, "in farheneit is:", f)

enter the temprature in cerlcius: 45
the temprature 45.0 in farheneit is: 113.0

# display joke and print punchline when pressed enter only

In [31]:
print("hahahaha this is a joke!!!!!!!!!!!!!!")
input()
print("the punchlibne...")

hahahaha this is a joke!!!!!!!!!!!!!!

the punchlibne...

# input date day part only and no of days in month and print days left in month

In [32]:
date = int(input("enter the date: "))
day = int(input("enter the no of days: "))
print("no of days left is:", day-date)

enter the date: 25
enter the no of days: 45
no of days left is: 20

# assign 5 to a variiable and multiply with two and subtract 1 to get 9

## give as o/p:
## 5
## 10
## 9

In [33]:
a = 5
print(a, 2*a, 2*a-1, sep='\n')

5
10
9

# modify above to print as:
    
## 5@10@9

In [34]:
print(a, 2*a, 2*a-1, sep='@')

5@10@9

# program with maximum three lines assign first five muliple of a number to 5 variables and print them

In [35]:
num = int(input("enter the number: "))  # line1
var1, var2, var3, var4, var5 = num*1, num*2, num*3, num*4, num*5  # line2
print("the fivce variables are: \nvar1=", var1, "var2=", var2,
      "var3=", var3, "var4=", var4, "var5=", var5)  # line3

enter the number: 43
the fivce variables are:
var1= 43 var2= 86 var3= 129 var4= 172 var5= 215

# accept radius of circle and print it's area

In [36]:
r = float(input("enter the radius of cicle: "))
print("the area of circle is:", (22/7)*r*r)

enter the radius of cicle: 34
the area of circle is: 3633.1428571428573

# input five subject marks, output there average

In [37]:
var1 = float(input("ente the marks of subject 1: "))
var2 = float(input("ente the marks of subject 2: "))
var3 = float(input("ente the marks of subject 3: "))
var4 = float(input("ente the marks of subject 4: "))
var5 = float(input("ente the marks of subject 5: "))

print("the arage marks is:", (var1+var2+var3+var4+var5)/5)

ente the marks of subject 1: 76
ente the marks of subject 2: 87
ente the marks of subject 3: 77
ente the marks of subject 4: 75
ente the marks of subject 5: 67
the arage marks is: 76.4

# convert height from cm to feet and inches

In [38]:
cm = float(input("enter the height in cm: "))
print("the height is:\nfoot=", ((cm)/2.54)/12, "inches=", (cm)/2.54)

enter the height in cm: 159
the height is:
foot= 5.216535433070866 inches= 62.59842519685039

# take n as inpout print its square, cube, quad

In [39]:
n = float(input("enter the n: "))
print("square of n=", n*n, "cube of n=", n*n*n, "quad of n=", n*n*n*n)

enter the n: 4
square of n= 16.0 cube of n= 64.0 quad of n= 256.0

# find area of traingle

In [40]:
b = float(input("enter the base of the triangle: "))
h = float(input("enter the height of the triangle: "))

print("area of triangle:", (1/2)*b*h)

enter the base of the triangle: 45
enter the height of the triangle: 34
area of triangle: 765.0

# find simple interest and compuond interesrt

In [41]:
p = float(input("enter the principle: "))
r = float(input("enter the rate: "))
t = float(input("enter the time: "))

print("the simple intersrt is:", (p*r*t)/100)

enter the principle: 45000
enter the rate: 3.56
enter the time: 4
the simple intersrt is: 6408.0

# input number and print fiest five multiple

In [42]:
n = int(input("enter the number: "))
print("first five multiples:", n, n*2, n*3, n*4, n*5)

enter the number: 45
first five multiples: 45 90 135 180 225

# take name, age, class and print in same line then in seprate, each having two blank lines atleast

In [43]:
name = input("enter the name: ")
age = int(input("enter the age: "))
clas = int(input("enter the clas (1 - 12): "))


print("name=", name, "age=", age, "class=", clas, "\n")

print("name=", name, "\nage=", age, "\nclass=", clas, "\n")

enter the name: rahul dhanola
enter the age: 21
enter the clas (1 - 12): 12
name= rahul dhanola age= 21 class= 12

name= rahul dhanola
age= 21
class= 12

# input digit anfd print three digit number as <n(n+1)(n+2)> and n range is 1 to 7

In [44]:
n = int(input("enter the number: "))
print("three digit number is: ", n, n+1, n+2, sep="")

enter the number: 4
three digit number is: 456

# read three number and swap first two variable with sum of first and second, second and third number resp.

In [45]:
n1 = int(input("enter the number 1: "))
n2 = int(input("enter the number 2: "))
n3 = int(input("enter the number 3: "))
n1 = n1+n2
n2 = n2+n3

print("the numbers are:\n num1=", n1, "\nnum2=", n2, "\nnum3=", n3)

enter the number 1: 45
enter the number 2: 67
enter the number 3: 57
the numbers are:
 num1= 112
num2= 124
num3= 57

# DATA HANDLING

# boolean data type

In [46]:
# use bool() to check the boolean vaklue for a number or object true for non zero else false
print(bool(217868))

print(bool(0))  # zero
print(bool())  # empty
print(bool(None))  # none
print(bool([]))  # list
print(bool(()))  # tuple
print(bool({}))  # dictionary

True
False
False
False
False
False
False

# floating point numbers

In [47]:
a = 283.223
print(type(a))
print(a)

a = 6.262E-23  # 6.626 X 10^-23
print(type(a))
print(a)

<class 'float'>
283.223
<class 'float'>
6.262e-23

# complex number

In [48]:
a = 2+3j  # j is the sqrt(-1)
print(type(a))
print(a)
b = 0+2j
print(b)  # no parenthesis in o/p

<class 'complex'>
(2+3j)
2j

In [49]:
print(a.real)  # show real part in 'a'

print(a.imag)  # show imaginary part in 'a'

2.0
3.0

# strings in python

In [51]:
s = "PYTHON"


# from start of the string positive index its range is (0,len-1)
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])

print(len(s[6]))  # out of range

P
Y
T
H
O
N

IndexError: string index out of range

In [21]:
# from start of the string negative index its range (-1,-6)
print(s[-6])
print(s[-5])
print(s[-4])
print(s[-3])
print(s[-2])
print(s[-1])

print(len(s[-7]))

h
a
n
o
l
a
1

In [52]:
print(s[0] == s[-6])
print(s[1] == s[-5])
print(s[2] == s[-4])
print(s[3] == s[-3])
print(s[4] == s[-2])
print(s[5] == s[-1])

True
True
True
True
True
True

In [53]:
# strings are immutable

s[0] = 'J'  # give error

TypeError: 'str' object does not support item assignment

In [23]:
# but the variables can change there value

string = "rahul"

print(string)

string = "vidhi"

print(string)

rahul
vidhi

# list in python

In [24]:
l = list()  # craete empty list
l = []  # craete empty list

print(type(l))
print(len(l))

<class 'list'>
0

In [25]:
l = [1, 2, 3, 4, 'rahul', 'vidhi', 2231]  # list can store any data type

In [26]:
l[4] = "rahul dhanola"  # list are mutable
print(l)

[1, 2, 3, 4, 'rahul dhanola', 'vidhi', 2231]

# tuples in list

In [27]:
t = tuple()  # emty tuple created
t = ()  # emty tuple created

print(type(t))
print(len(t))

<class 'tuple'>
0

In [28]:
# they are immutable and can store any datatype like list

t = (1, 2, 3, 4, 5, "RAHUL", "VIDHI")

t[5] = "rahul dhanola"

TypeError: 'tuple' object does not support item assignment

# dictionary in python

In [29]:
# emptuy dictionary craetion
d = dict()

d = {}

print(len(d))

0

In [30]:
# data can be any order and these are inserted in the form of keys and value pairs

d = {"name": "rahul", "age": 18, "list": [1, 2, 3, 4, "in dicitionary lsit"]}

print(d.keys())  # print dixctionarty keys

print(d.values())  # print dictionary values

dict_keys(['name', 'age', 'list'])
dict_values(['rahul', 18, [1, 2, 3, 4, 'in dicitionary lsit']])

In [31]:
# dicitionary is mutalbe datatype

d["name"] = "vidhi"  # dicitionaery values are mutable

d["name2"] = "vidhi"

print(d)

# dictionary keys are imutable

{'name': 'vidhi', 'age': 18, 'list': [1, 2, 3, 4, 'in dicitionary lsit'], 'name2': 'vidhi'}

# id() fubnction in python

In [32]:
# the id() function returns the address of any datatype

l = 23

q = 23

# all the integers variable have same address as they are pointing only to the value object and not storing them


print(id(l))

print(id(q))

print(id(23))

94336551694336
94336551694336
94336551694336

# type() in python

In [33]:
# the type returns the dataype of a variable or object

print(type(2))
print(type(2.3))
print(type("rahul"))
print(type({"name": "rahul"}))
print(type([2]))
print(type((2)))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'dict'>
<class 'list'>
<class 'int'>

# operators in python

In [34]:
# floor division operator (//) gives the quotiont value of two numbers a/b in intefger format

print("7/2=", 7/2)

print("7//2=", 7//2)  # gives integer value and not float

7/2= 3.5
7//2= 3

In [35]:
# exponential opeatoe

print("2^8", 2**8)

2^8 256

In [36]:
# area of circle radius=3.75
radius = 3.75

print("area of circle=", (22/7)*radius**2, "sq.m")

area of circle= 44.19642857142857 sq.m

# comparison in floationfg point numbers

In [37]:
print(0.1+0.1+0.1 == 0.3)  # "0.1+0.1+0.1==0.3" gives false because

print(0.3)

print(0.1+0.1+0.1)  # this don't give 0.3 because of floating point preision

False
0.3
0.30000000000000004

# identity operators in python: is and not is

In [38]:
# is operator gives True if the address of the two operand pointing same address

a = 2

print(id(a))

b = 2

print(id(b))

c = 10

print(id(c))

print(a is b)  # gives true because both a and b point to same memory location

print(a is c)  # gives False because both a and b point to different memory location

94336551693664
94336551693664
94336551693920
True
False

In [39]:
# is not operator gives True if the address of the two operand pointing different address

a = 2

print(id(a))

b = 10

print(id(b))

c = 2

print(id(c))

# gives true because both a and b point to different memory location
print(a is not b)

print(a is not c)  # gives false because both a and b point to same memory location

94336551693664
94336551693920
94336551693664
True
False

# id() and == operator

In [40]:
a = "abc"

b = input()

print("a is b", a is b)  # returns false even the value are having same value

print("a==b", a == b)

# if a is b gives True then a==b will always give True

abc
a is b False
a==b True

# chained comparison operators

In [56]:
1 < 2 < 3  # it is same as (1<2 and 2<3)

True

# bin() function in python

In [57]:
# bin() returns the binary of a digit

print(bin(10))

0b1010

# strings concatenate

In [58]:
print("rahul"+"dhanola")

print("rahul"*2)

rahuldhanola
rahulrahul

# math module in python

In [59]:
# to use math module first import it using impor<module name>

import math

In [60]:
# math ceil function, gives smallest number not less than num

print(math.ceil(2.3))

print(math.ceil(-1.4))

3
-1

In [61]:
# math floor function, gives largest number not larger than num

print(math.floor(2.3))

print(math.floor(-1.4))

2
-2

In [62]:
# math sqrt function, gives square root of num

print(math.sqrt(36))

print(math.sqrt(3))

6.0
1.7320508075688772

In [63]:
# math exp function, gives natural log e raised to power num

print(math.exp(1))

print(math.exp(-1))

2.718281828459045
0.36787944117144233

In [64]:
# math fabs function, gives absolute value of num

print(math.fabs(1))

print(math.fabs(-1))

1.0
1.0

In [65]:
# math log function, gives log value of num

print(math.log(1))

print(math.log(5.6))

0.0
1.7227665977411035

In [66]:
# math log base 10 function, gives log base 10 value of num

print(math.log10(1))

print(math.log10(5.6))

0.0
0.7481880270062005

In [67]:
# math pow function, gives power of num raised to power

print(math.pow(5, 2))

print(math.pow(-5, 3))

25.0
-125.0

In [68]:
# math sin,tan,cos function, gives sin(num), cos(num), tan(num), value of num

print(math.sin(30))

print(math.sin(-30))

print(math.cos(30))

print(math.cos(-30))

print(math.tan(30))

print(math.tan(-30))

-0.9880316240928618
0.9880316240928618
0.15425144988758405
0.15425144988758405
-6.405331196646276
6.405331196646276

In [69]:
# math degree and radians function, converts num radian to degree and num degree to radians respectively.

print(math.degrees(30))

print(math.degrees(-30))

print(math.radians(30))

print(math.radians(-30))

1718.8733853924696
-1718.8733853924696
0.5235987755982988
-0.5235987755982988

In [70]:
# math also have two constant functions pi and e

print(math.pi)  # give value of pi i.e. 22/7

print(math.e)  # give value of logarithmic exponential i.e. e

3.141592653589793
2.718281828459045

# write program to find simple interest

In [71]:
p = float(input("enter the principoal: "))
r = float(input("enter the rate: "))
t = float(input("enter the time in years: "))

print("the simple interset is:", (p*r*t)/100)

enter the principoal: 34566
enter the rate: 5.67
enter the time in years: 5
the simple interset is: 9799.461

# program to obtain temp. for seven days of week and print the avg. temp

In [72]:
t1 = float(input("enter temperature for monday: "))
t2 = float(input("enter temperature for tuesday: "))
t3 = float(input("enter temperature for wednesdfay: "))
t4 = float(input("enter temperature for thursday: "))
t5 = float(input("enter temperature for friday: "))
t6 = float(input("enter temperature for saturday: "))
t7 = float(input("enter temperature for sunday: "))

print("the average tempertaure of dseven days is:", (t1+t2+t3+t4+t5+t6+t7)/7)

enter temperature for monday: 56
enter temperature for tuesday: 76
enter temperature for wednesdfay: 35
enter temperature for thursday: 67
enter temperature for friday: 23
enter temperature for saturday: 34
enter temperature for sunday: 43
the average tempertaure of dseven days is: 47.714285714285715

# obtain x,y,z and  find 4x^4 + 3y^3 + 9z + 6pi  (here pi=(22/7))

In [73]:
x = float(input("enter the value of x: "))
y = float(input("enter the value of y: "))
z = float(input("enter the value of z: "))

print("the resu;lt is: ", (4*(x**4))+(3*(y**3))+(9*z)+(6*(22/7)))

enter the value of x: 45
enter the value of y: 565
enter the value of z: 56
the resu;lt is:  557489397.8571428

# input seconds and print in min and seconds

In [74]:
sec = int(input("enter the seconds: "))
print("time aftwr c=nversion:\n min=", sec//60, "\nseconds=", sec % 60)

enter the seconds: 3600
time aftwr c=nversion:
 min= 60
seconds= 0

# program to take hour from 1 to 12 and no. of hour ahead then print time after those many hours

In [75]:
h = int(input("enter the hour between 1 to 12: "))
ahead = int(input("enter the hour ahead: "))
if(h+ahead > 12):
    print("time at that time is:", h+ahead-12, "O'clock")
else:
    print("time at that time is:", h+ahead, "O'clock")

enter the hour between 1 to 12: 5
enter the hour ahead: 4
time at that time is: 9 O'clock

# check for year leap or not

In [76]:
n = int(input("enter the year: "))
if(n % 100 == 0):
    if(n % 4 == 0):
        print("it is a leap year")
    else:
        print("it is not leap year")
else:
    if(n % 4 == 0):
        print("it is a leap year")
    else:
        print("it is not leap year")

enter the year: 2002
it is not leap year

# take two number and check if first is divisible by second

In [77]:
num1 = int(input("enter the number1: "))
num2 = int(input("enter the number2: "))
if(num1 % num2 == 0):
    print(num1, "is divisible by", num2)
else:
    print(num1, "is not divisible by", num2)

enter the number1: 23
enter the number2: 543
23 is not divisible by 543

# program to reverse a two-digit number

In [78]:
num = input("enter the two digit number: ")
print("the reverse number is:", num[-1]+num[-2])

enter the two digit number: 34
the reverse number is: 43

# program to reverse a three-digit number

In [79]:
num = input("enter the three digit number: ")
print("the reverse number is:", num[-1]+num[-2]+num[-3])

enter the three digit number: 456
the reverse number is: 654

# take day and month input and print the day of the year assume all month have 30 days

In [81]:
d = int(input("enter the day: "))
m = int(input("enter the month: "))
print("the day of the year is:", (m-1)*30+d)

enter the day: 4
enter the month: 9
the day of the year is: 244

# CONDITIONAL AND ITERARTIVE STATEMENT

# types of statemeent

# the statemnt is instruction to perform any kind of action
# empty statement

In [82]:
# sateemnt which says python to do nothing and is denoted by "pass" keyword

print("the following line will be pass statement")

pass  # python will perform nothing and moves to next statement

print("the pss statement ended")

the following line will be pass statement
the pss statement ended

# simple statement

In [83]:
# any executable statem,ent is called simple statement

print("hi it is a simple statement")

hi it is a simple statement

# compound ssatement

In [84]:
# any statement which is having a block or ending with a colon ":"
if True:  # this is a compound statement with it's own statement below
    print("i am simple statement inside compoubnt statemnent")
    pass  # this is a emty statement in side compount statement

i am simple statement inside compoubnt statemnent

# if statemnt in python

In [85]:
# the if statenment are conditional statement use to make a decision in pogram
if 1 > 2:  # whioch is False
    print("1 is greater than 2")  # hence statement not executed

# if condition true then perform some instructuions

if 1 < 2:  # whioch is True
    print("1 is less than 2")  # hence statement executed

if not True:  # whioch is False
    print("in if block 1")  # hence statement not executed

if True:  # whioch is True
    print("in if block 2")  # hence statement executed

1 is less than 2
in if block 2

# if-else statement

In [86]:
# the if-else statenment are conditional statement use to make a decision in if block if true otherwise in else block
if 1 > 2:  # whioch is False
    print("1 is greater than 2")  # hence statement not executed
else:
    print("1 is not greater than 2")  # hence statement executed

# if condition true then perform some instructuions else peform else condtion

if 1 < 2:  # whioch is True
    print("1 is less than 2")  # hence statement executed
else:
    print("1 is not less than 2")  # hence statement not executed

if not True:  # whioch is False
    print("in if block 1")  # hence statement not executed
else:
    print("in else block 1")  # hence statement executed

if True:  # whioch is True
    print("in if block 2")  # hence statement executed
else:
    print("in else block 2")  # hence statement not executed

1 is not greater than 2
1 is less than 2
in else block 1
in if block 2

# program to take three numbers and print greater among three only use if

In [87]:
num1 = int(input("enter the number 1: "))
num2 = int(input("enter the number 2: "))
num3 = int(input("enter the number 3: "))

if (num1 > num2 and num1 > num3):
    print("number 1 is grater than three")

if (num2 > num1 and num2 > num3):
    print("number 2 is grater than three")

if (num3 > num1 and num3 > num2):
    print("number 3 is grater than three")

enter the number 1: 45
enter the number 2: 56
enter the number 3: 54
number 2 is grater than three

In [88]:
# other way

num1 = int(input("enter the number 1: "))
num2 = int(input("enter the number 2: "))
num3 = int(input("enter the number 3: "))

maax = num1

if(num2 > maax):
    maax = num2

if(num3 > maax):
    maax = num3

print("max number is:", maax)

enter the number 1: 45
enter the number 2: 67
enter the number 3: 65
max number is: 67

# check if number even or odd

In [89]:
n = int(input("enetr the number: "))
if(n % 2 == 0):
    print("the number ios even")
else:
    print("the number ios odd")

enetr the number: 45
the number ios odd

# take three number and find two sum, first sum is sum of all and other sum is sum of non-dulicate numbers

In [90]:
num1 = int(input("enter the number 1: "))
num2 = int(input("enter the number 2: "))
num3 = int(input("enter the number 3: "))

s1 = num1+num2+num3

if(num1 == num2 and num2 != num3):
    s2 = num3
if(num2 == num3 and num3 != num1):
    s2 = num1
if(num3 == num1 and num1 != num2):
    s2 = num2
if(num1 == num2 == num3):
    s2 = 0
if(num1 != num2 and num2 != num3 and num3 != num1):
    s2 = s1

print("the first sunm is:", s1)

print("the swcond sunm is:", s2)

enter the number 1: 45
enter the number 2: 65
enter the number 3: 78
the first sunm is: 188
the swcond sunm is: 188

In [91]:
# other solution 1

s1 = s2 = 0
num1 = int(input("enter the number 1: "))
num2 = int(input("enter the number 2: "))
num3 = int(input("enter the number 3: "))

s1 = num1+num2+num3

if(num1 != num2 and num1 != num3):
    s2 += num1
if(num2 != num1 and num2 != num3):
    s2 += num2
if(num3 != num1 and num3 != num2):
    s2 += num3

print("the first sunm is:", s1)

print("the swcond sunm is:", s2)

enter the number 1: 76
enter the number 2: 37
enter the number 3: 87
the first sunm is: 200
the swcond sunm is: 200

In [92]:
# other solution 2

s1 = s2 = 0
num1 = int(input("enter the number 1: "))
num2 = int(input("enter the number 2: "))
num3 = int(input("enter the number 3: "))

s1 = num1+num2+num3

if(num1 == num2):
    if(num3 != num1):
        s2 += num3
else:
    if(num1 == num3):
        s2 += num2
    else:
        if(num2 == num3):
            s2 += num1
        else:
            s2 = s1


print("the first sunm is:", s1)

print("the swcond sunm is:", s2)

enter the number 1: 78
enter the number 2: 675
enter the number 3: 67
the first sunm is: 820
the swcond sunm is: 820

In [93]:
num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))

if(num1 % num2 == 0):
    print(num1, "is divisible by", num2)
else:
    print(num1, "is not divisible by", num2)

enter the first number: 67
enter the second number: 67
67 is divisible by 67

# program to find multiples of a number out of five given number

In [94]:
num = int(input("enter the number whose multiple to find: "))
num1 = int(input("enter the first number to check: "))

count = 0

if(num % num1 == 0):
    print(num, "is divisible by", num1)
    count += 1
else:
    print(num, "is not divisible by", num1)

num1 = int(input("enter the second number to check: "))

if(num % num1 == 0):
    print(num, "is divisible by", num1)
    count += 1
else:
    print(num, "is not divisible by", num1)

num1 = int(input("enter the third number to check: "))

if(num % num1 == 0):
    print(num, "is divisible by", num1)
    count += 1
else:
    print(num, "is not divisible by", num1)

num1 = int(input("enter the fourth number to check: "))

if(num % num1 == 0):
    print(num, "is divisible by", num1)
    count += 1
else:
    print(num, "is not divisible by", num1)

num1 = int(input("enter the fifth number to check: "))

if(num % num1 == 0):
    print(num, "is divisible by", num1)
    count += 1
else:
    print(num, "is not divisible by", num1)

print(count, "multiples of", num, "found")

enter the number whose multiple to find: 78
enter the first number to check: 65
78 is not divisible by 65
enter the second number to check: 67
78 is not divisible by 67
enter the third number to check: 8
78 is not divisible by 8
enter the fourth number to check: 5
78 is not divisible by 5
enter the fifth number to check: 4
78 is not divisible by 4
0 multiples of 78 found

# program to display menu for finding area and perimetere of circle

In [95]:
import math

r = float(input("enter the radius of circle: "))
ch = int(input("please select your option (1 to 2 only):\n1. area of Circle\n2. perimetre of Circle\nPlease enter \
your choice: "))

if(ch == 1):
    print("the area of circle is:", math.pi*r**2)
else:
    print("the perimetre of circle is:", 2*math.pi*r)

enter the radius of circle: 56
please select your option (1 to 2 only):
1. area of Circle
2. perimetre of Circle
Please enter your choice: 2
the perimetre of circle is: 351.85837720205683

# python if-elif statement

In [96]:
# the if-elif statenment are conditional statement use to make a decision in if block if true otherwise make a
# decision in elif block
if 1 > 2:  # whioch is False
    print("1 is greater than 2")  # hence statement not executed
elif 2 > 1:  # whioch is True
    print("1 is not greater than 2")  # hence statement executed

# if condition true then perform some instructuions else check elif condtion true then perform some instructuions

# else perform else block condition

if 1 < 2:  # whioch is True
    print("1 is less than 2")  # hence statement executed
elif 2 > 1:  # whioch is False
    print("1 is not less than 2")  # hence statement not executed

if not True:  # whioch is False
    print("in if block 1")  # hence statement not executed
elif False:  # whioch is False
    print("in elif block 1")  # hence statement not executed
else:
    print("in else block 1")  # hence statement executed

if True:  # whioch is True
    print("in if block 2")  # hence statement executed
elif not True:
    print("in elif block 2")  # hence statement not executed
else:
    print("in else block 2")  # hence statement not executed

1 is not greater than 2
1 is less than 2
in else block 1
in if block 2

# program take two operand and an operator and display result

In [99]:
n1 = float(input("enter the operand 1: "))
n2 = float(input("enter the operand 2: "))
op = input("enter the operator: ")

if(op == '+'):
    print("the result of", n1, op, n2, "=", n1+n2)
elif(op == '-'):
    print("the result of", n1, op, n2, "=", n1-n2)
elif(op == '*'):
    print("the result of", n1, op, n2, "=", n1*n2)
elif(op == '/'):
    print("the result of", n1, op, n2, "=", n1/n2)
elif(op == '%'):
    print("the result of", n1, op, n2, "=", n1 % n2)
else:
    print("please enter valid operand from (+, -, *, /, %) ...")

enter the operand 1: 23
enter the operand 2: 45
enter the operator: %
the result of 23.0 % 45.0 = 23.0

# nested if statements

## there can be if inside if, if inside elif, if inside else, if inside if as well as elif or else i.e. multiple if's

# program to take three numbers and print in ascending order

In [100]:
n1 = int(input("enter the number 1: "))
n2 = int(input("enter the number 2: "))
n3 = int(input("enter the number 3: "))

print("in ascending order is:")

if(n1 < n2 and n1 < n3):
    print(n1, end=' ')
    if(n2 < n3):
        print(n2, end=' ')
        print(n3, end=' ')
    else:
        print(n3, end=' ')
        print(n2, end=' ')
elif(n2 < n1 and n2 < n3):
    print(n2, end=' ')
    if(n1 < n3):
        print(n1, end=' ')
        print(n3, end=' ')
    else:
        print(n3, end=' ')
        print(n1, end=' ')
else:
    print(n3, end=' ')
    if(n1 < n2):
        print(n1, end=' ')
        print(n2, end=' ')
    else:
        print(n2, end=' ')
        print(n1, end=' ')

enter the number 1: 54
enter the number 2: 56
enter the number 3: 43
in ascending order is:
43 54 56

# program to check charcter is upper, lower, digit, other charcter

In [101]:
ch = input("enter the character: ")
if(ch >= 'A' and ch <= 'Z'):
    print("the character is uppercase")
elif(ch >= 'a' and ch <= 'z'):
    print("the character is lowercase")
elif(ch >= '0' and ch <= '9'):
    print("the character is digit")
else:
    print("the character is other charcetr")

enter the character: $
the character is other charcetr

# program to calculate and print roots of quadratic exquation Ax^2 + Bx + C=0 (a!=0)

In [102]:
import math

a = float(input("enter the coefficent a: "))
b = float(input("enter the coefficent b: "))
c = float(input("enter the coefficent c: "))

if(a == 0):
    print("a can't be zero!!!")
elif((b**2)-(4*a*c) < 0):
    print("the roots of quadratic equaion are complex and imaginary:")
else:
    if((-b+math.sqrt((b**2)-(4*a*c)))/(2*a) == (-b-math.sqrt((b**2)-(4*a*c)))/(2*a)):
        print("the roots are real and equal:\nroot1=", (-b+math.sqrt((b**2)-(4*a*c)))/(2*a), "\nroot2=",
              (-b+math.sqrt((b**2)-(4*a*c)))/(2*a))
    else:
        print("the roots are real and distinct:\nroot1=", (-b+math.sqrt((b**2)-(4*a*c)))/(2*a), "\nroot2=",
              (-b+math.sqrt((b**2)-(4*a*c)))/(2*a))

enter the coefficent a: 3
enter the coefficent b: 12
enter the coefficent c: 34
the roots of quadratic equaion are complex and imaginary:

# storing conditions

In [103]:
# it is the way to store condition or give them another name or alias

num1 = int(input("enter the number1: "))
num2 = int(input("enter the number2: "))

# condition are stored based on user defined alias

remainder_is_zero = num1 % num2 == 0
remainder_is_not_zero = num1 % num2 != 0

if remainder_is_zero:
    print("yes number is divisible")
elif remainder_is_not_zero:
    print("yes number is not divisible")
else:
    print("control cant reach here")

enter the number1: 45
enter the number2: 56
yes number is not divisible

# range() function

In [104]:
# the range() function gives a list in a given range in given step
# format: range(<start point>,<end point>,<jump in steps>)

range(10)  # here it give list in range 0 to n-1 i.e. 9

range(1, 10)  # it gives list from 1 to 9

range(1, 10, 2)  # it gives list from 1 to 9 in steps of 2

range(1, 10, 2)

# in and not in function

In [105]:
# in checks if a particular value is present in a sequenc or not and gives True and False

print("rahul" in "rahul dhanola")

print(5 in (1, 4, 2, 3, 4, 5, 3, 2))

print(7 in [1, 5, 3, 54, 34, 34333, 3, 3, 2, 4, 2, 43])

print("" in "rahuldhanola")

print(5 in range(10))

print(5 in range(1, 10))

print(5 in range(0, 10, 2))

print(5 in range(0, 10, 2))

True
True
False
True
True
True
False
False

In [106]:
# not in checks if a particular value is not present in a sequenc or present and gives True and False

print("rahul" not in "rahul dhanola")

print(5 not in (1, 4, 2, 3, 4, 5, 3, 2))

print(7 not in [1, 5, 3, 54, 34, 34333, 3, 3, 2, 4, 2, 43])

print("" not in "rahuldhanola")

print(5 not in range(10))

print(5 not in range(1, 10))

print(5 not in range(0, 10, 2))

print(5 not in range(0, 10, 2))

False
False
True
False
False
False
True
True

# the for loop

In [107]:
# the for loop is designed the process of any sequence one by one
# general form is for <variable> in <sequence>:
# the loop variable have the higest value after iterating in a range()

for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]:
    print(i)

1
2
3
4
5
6
7
8
9
0

In [108]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]:
    print(i*i)

1
4
9
16
25
36
49
64
81
0

In [109]:
for ch in "the string":
    print(ch)

t
h
e

s
t
r
i
n
g

In [110]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# program to print table of a number

In [111]:
n = int(input("enter the number: "))
for i in range(1, 11):
    print(n, "X", i, "=", n*i)

enter the number: 43
43 X 1 = 43
43 X 2 = 86
43 X 3 = 129
43 X 4 = 172
43 X 5 = 215
43 X 6 = 258
43 X 7 = 301
43 X 8 = 344
43 X 9 = 387
43 X 10 = 430

# print sum of n natural number with each iteration

In [112]:
n = int(input("enter the number: "))
s = 0
for i in range(1, n+1):
    s += i
    print("sum of natural numver <=", i, "is:", s)

print("the sum after all iteration is:", s)

enter the number: 45
sum of natural numver <= 1 is: 1
sum of natural numver <= 2 is: 3
sum of natural numver <= 3 is: 6
sum of natural numver <= 4 is: 10
sum of natural numver <= 5 is: 15
sum of natural numver <= 6 is: 21
sum of natural numver <= 7 is: 28
sum of natural numver <= 8 is: 36
sum of natural numver <= 9 is: 45
sum of natural numver <= 10 is: 55
sum of natural numver <= 11 is: 66
sum of natural numver <= 12 is: 78
sum of natural numver <= 13 is: 91
sum of natural numver <= 14 is: 105
sum of natural numver <= 15 is: 120
sum of natural numver <= 16 is: 136
sum of natural numver <= 17 is: 153
sum of natural numver <= 18 is: 171
sum of natural numver <= 19 is: 190
sum of natural numver <= 20 is: 210
sum of natural numver <= 21 is: 231
sum of natural numver <= 22 is: 253
sum of natural numver <= 23 is: 276
sum of natural numver <= 24 is: 300
sum of natural numver <= 25 is: 325
sum of natural numver <= 26 is: 351
sum of natural numver <= 27 is: 378
sum of natural numver <= 28 is: 406
sum of natural numver <= 29 is: 435
sum of natural numver <= 30 is: 465
sum of natural numver <= 31 is: 496
sum of natural numver <= 32 is: 528
sum of natural numver <= 33 is: 561
sum of natural numver <= 34 is: 595
sum of natural numver <= 35 is: 630
sum of natural numver <= 36 is: 666
sum of natural numver <= 37 is: 703
sum of natural numver <= 38 is: 741
sum of natural numver <= 39 is: 780
sum of natural numver <= 40 is: 820
sum of natural numver <= 41 is: 861
sum of natural numver <= 42 is: 903
sum of natural numver <= 43 is: 946
sum of natural numver <= 44 is: 990
sum of natural numver <= 45 is: 1035
the sum after all iteration is: 1035

# while loop

In [113]:
# the while loop checks for a condition and then perform the below statements until the condition becomes false
# general form is while(<condition>):

n = 1
while n < 10:  # runs below statement till the condition becomes false
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9

In [114]:
# always initialize a variable else it will give error

while j < 20:
    print(i)
    j += 1

NameError: name 'j' is not defined

# program to find factorial of a number

In [115]:
n = int(input("enter the number: "))
fact = 1
while(n >= 1):
    fact *= n
    n -= 1

print("the factorial of the nbumebr is:", fact)

enter the number: 34
the factorial of the nbumebr is: 295232799039604140847618609643520000000

# program to print sum of even and odd integers of first n natural numbers

In [116]:
n = int(input("enter the number:"))
se = so = 0
while(n >= 1):
    if(n % 2 == 0):
        se += n
        n -= 1
    else:
        so += n
        n -= 1

print("the sum of odd natural numbers is:", so)
print("the sum of evevn natural numbers is:", se)

enter the number:54
the sum of odd natural numbers is: 729
the sum of evevn natural numbers is: 756

# loop else statement

In [117]:
# the for loop and the while loop have an else clause whch execute statement if sequence complete or condition is false

for i in range(11):
    print(i)
else:
    print("after the for loop printes all numbers!!")

0
1
2
3
4
5
6
7
8
9
10
after the for loop printes all numbers!!

In [118]:
i = 1
while(i < 11):
    print(i)
    i += 1
else:
    print("after the while loop printes all numbers!!")

1
2
3
4
5
6
7
8
9
10
after the while loop printes all numbers!!

# break sttemnt

In [119]:
# a break statemnt skip the rest of the loop (for or while) and jumps to the statement folowing the loop

for i in range(11):
    if(i < 7):
        print("inside for loop")
    else:
        break
else:
    # it will not work because we breaked the for loop early
    print("inside the else block")

print("outside the for loop")

inside for loop
inside for loop
inside for loop
inside for loop
inside for loop
inside for loop
inside for loop
outside the for loop

In [120]:
i = 0
while(i < 11):
    if(i < 7):
        print("inside while loop")
        i += 1
    else:
        break
else:
    # it will not work because we breaked the for while early
    print("inside the else block")

print("outside the while loop")

inside while loop
inside while loop
inside while loop
inside while loop
inside while loop
inside while loop
inside while loop
outside the while loop

# random module

In [121]:
# the random module have a function randint to generate a random number in a given range
# synatax: random.randint(lower limit,upper limit)

import random  # import the module having function

random.randint(1, 11)  # will give randiom number between 1 to 10

8

# implement "guess the number", python give random number in a given range and give n chances to user to guess the correct number

In [123]:
import random

ul = int(input("welecome to the game 'guess the number'\nplease enter the upper limit: "))
ll = int(input("please enter the lower limit: "))
r = random.randint(ll, ul+1)
chance = int(input(
    "random number generated!!!\nenter the nummber of chances you want to guess with computer: "))

for i in range(chance):
    n = int(input(
        "guess and enter the number computer have chosen in range you have given: "))
    if(n == r):
        print("voila!! you have chosen correct number that computer guessed.\n you win the game!!!!")
        break
    else:
        print("sorry!! you have chosen incorrect number that computer guessed")
else:
    print("sorry!! you have chosen incorrect number that computer guessed i.e.",
          r, "\n you lose the game!!!!")

welecome to the game 'guess the number'
please enter the upper limit: 90
please enter the lower limit: 23
random number generated!!!
enter the nummber of chances you want to guess with computer: 5
guess and enter the number computer have chosen in range you have given: 34
sorry!! you have chosen incorrect number that computer guessed
guess and enter the number computer have chosen in range you have given: 32
sorry!! you have chosen incorrect number that computer guessed
guess and enter the number computer have chosen in range you have given: 54
sorry!! you have chosen incorrect number that computer guessed
guess and enter the number computer have chosen in range you have given: 34
sorry!! you have chosen incorrect number that computer guessed
guess and enter the number computer have chosen in range you have given: 65
sorry!! you have chosen incorrect number that computer guessed
sorry!! you have chosen incorrect number that computer guessed i.e. 73
 you lose the game!!!!

# continue statement

In [124]:
# the continue statement is another jump statemnt that skips the rest of the loop staremtn and causes the next loop iteration
for i in range(11):
    if(i < 7):
        print(i)
    else:
        continue  # if condition false then th iteration of i>7 will skip

0
1
2
3
4
5
6

In [125]:
i = 0
while(i <= 10):
    if(i < 7):
        print(i)
        i += 1
    else:
        i += 1
        continue  # if condition false then th iteration of i>7 will skip

0
1
2
3
4
5
6

# input some number repeteadly and print there sum program enda if user say no or give -ve number

In [126]:
count = s = 0
while(True):
    n = int(input("enter the number: "))
    if n < 0:
        break
    else:
        s += n
        count += 1
    ch = input("want to enter more (y/n) : ")
    if(ch == 'y' or ch == 'Y'):
        continue
    else:
        print("sum after", count, "number entered is:", s)
        break

enter the number: 34
want to enter more (y/n) : y
enter the number: 56
want to enter more (y/n) : y
enter the number: 76
want to enter more (y/n) : y
enter the number: 89
want to enter more (y/n) : y
enter the number: 87
want to enter more (y/n) : y
enter the number: 56
want to enter more (y/n) : n
sum after 6 number entered is: 398

# program to test if a number is pime or not

In [127]:
n = int(input("enter the number: "))
for i in range(2, (n//2)+1):
    if(n % i == 0):
        print("number is not prime!!!")
        break
else:
    print("the number is prime")

enter the number: 45
number is not prime!!!

# nested loop

# chr() and ord() function

In [128]:
# the chr gives the characetr coressponmding to given ascii

print(chr(35))
print(chr(52))
print(chr(74))
print(chr(103))

#
4
J
g

In [129]:
# the ord gives the ascii coressponmding to given character

print(ord('%'))
print(ord('5'))
print(ord('F'))
print(ord('j'))

37
53
70
106

In [130]:
# it is the loop inside another loop

for i in range(59):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

# program to find prime number between a range

In [131]:
ll = int(input("enter the lower range: "))
ul = int(input("enter the upper range: "))

print("the prime numbers within the given range are: ", end="")
for i in range(ll, ul+1):
    for j in range(2, (i//2)+1):
        if(i % j == 0):
            break
    else:
        print(i, end=",")

enter the lower range: 32
enter the upper range: 988
the prime numbers within the given range are: 37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,211,223,227,229,233,239,241,251,257,263,269,271,277,281,283,293,307,311,313,317,331,337,347,349,353,359,367,373,379,383,389,397,401,409,419,421,431,433,439,443,449,457,461,463,467,479,487,491,499,503,509,521,523,541,547,557,563,569,571,577,587,593,599,601,607,613,617,619,631,641,643,647,653,659,661,673,677,683,691,701,709,719,727,733,739,743,751,757,761,769,773,787,797,809,811,821,823,827,829,839,853,857,859,863,877,881,883,887,907,911,919,929,937,941,947,953,967,971,977,983,

# program to enter the length in cm and print in inches if -ve input warn as invalid argument

In [132]:
cm = float(input("enter the length in cm: "))
if cm >= 0:
    print("there are", cm//2.54, "inches and", cm % 2.54, "cm")
else:
    print("enter the positive input!!!!!")

enter the length in cm: 455
there are 179.0 inches and 0.33999999999999364 cm

# program to ask no. of items and charge 120 per  item if buy less than 10 item, else  charge 100 per  item if buy between 10 and 99 item, else 70 per item

In [133]:
n = int(input("enter the no of item: "))
if(n >= 100):
    print("the total price is:", n*70)
elif(n >= 10):
    print("the total price is:", n*100)
else:
    print("the total price is:", n*120)

enter the no of item: 4
the total price is: 480

# take two number and print close if they are within 0.001 of one other else not close

In [134]:
n1 = float(input("enter tbe number 1: "))
n2 = float(input("enter tbe number 2: "))

if(round((n1-n2), 3) == 0.001 or (round(n2-n1), 3) == 0.001):
    print("close")
else:
    print("not close")

enter tbe number 1: 45
enter tbe number 2: 67
not close

# program to check leap year

In [135]:
n = int(input("enter the year: "))
if(n % 100 == 0):
    if(n % 4 == 0):
        print("it is a leap year")
    else:
        print("it is not leap year")
else:
    if(n % 4 == 0):
        print("it is a leap year")
    else:
        print("it is not leap year")

enter the year: 5
it is not leap year

# input three sides of a triangle and check it form triangle or not

In [136]:
n1 = float(input("\n enter th three side of tribgle\nenter the first side: "))
n2 = float(input("enter the second side: "))
n3 = float(input("enter the third side: "))

if(n1+n2 > n3 and n2+n3 > n1 and n1+n3 > n2):
    print("the sides will formn the triabgle!!!")
else:
    print("the sides will not formn the triabgle!!!")

 enter th three side of tribgle
enter the first side: 456
enter the second side: 65
enter the third side: 212
the sides will not formn the triabgle!!!

# input a digit and print it in words

In [137]:
n = int(input("enter the number: "))
if(n == 1):
    print("one")
elif(n == 2):
    print("two")
elif(n == 3):
    print("three")
elif(n == 4):
    print("four")
elif(n == 5):
    print("five")
elif(n == 6):
    print("six")
elif(n == 7):
    print("seven")
elif(n == 8):
    print("eight")
elif(n == 9):
    print("nine")
else:
    print("zero")

enter the number: 45
zero

# check whether square root of a number is prime or not

In [138]:
import math

n = int(input("enter the number: "))
for i in range(2, int(math.sqrt(n))+1):
    if(int(math.sqrt(n)) % i == 0):
        print("the root of number is prime:")
        break
else:
    print("the root of number is not prime")

enter the number: 67
the root of number is prime:

# print first n odd numvers in descending order

In [139]:
n = int(input("enter the n: "))
print("n odd numbers in descending order")
for i in range(n, 0, -1):
    if(i % 2 == 1):
        print(i, end=' ')

enter the n: 3
n odd numbers in descending order
3 1

# print the following series

## series 1:  

## 1  4  7  10......40

## series 2:  

## 1  -4  7  -10......-40

In [140]:
# series 1:

for i in range(1, 41, 3):
    print(i, end=' ')

1 4 7 10 13 16 19 22 25 28 31 34 37 40

In [141]:
# series 2:

mul = -1
for i in range(1, 41, 3):
    mul *= -1
    print(i*mul, end=' ')

1 -4 7 -10 13 -16 19 -22 25 -28 31 -34 37 -40

# find average of a list of numbers entered

In [142]:
n = int(input("enter how many numbers: "))
num = 0
for i in range(n):
    num += int(input("enter the number: "))
else:
    print("the naverage is:", num/n)

enter how many numbers: 5
enter the number: 45
enter the number: 76
enter the number: 45
enter the number: 76
enter the number: 22
the naverage is: 52.8

# take three side of triangle, check it is equilateral, scalene, isoceles triangle

In [143]:
s1 = int(input("enter the side 1: "))
s2 = int(input("enter the side 2: "))
s3 = int(input("enter the side 3: "))
if(s1 == s2 == s3):
    print("it's equilateral")
elif(s1 == s2 or s2 == s3 or s1 == s3):
    print("it's isoceles")
else:
    print("it's scalene")

enter the side 1: 87
enter the side 2: 56
enter the side 3: 45
it's scalene

# check for a number ends with 4 or 8 and print resp. else print neither of them

In [144]:
n = int(input("enter the number: "))
if(n % 10 == 8):
    print("ends with 8")
elif(n % 10 == 4):
    print("ends with 4")
else:
    print("ends with neither 4 nor with 8")

enter the number: 5
ends with neither 4 nor with 8

# take n>20 and print numbers from 11 to n and print "tipsy" if multiple of 3 else if of 7 print "topsy" and if both print "tipsy topsy"

In [145]:
n = int(input("enter the  number greater than 20: "))
if(n > 20):
    for i in range(11, n+1):
        if((i % 7 == 0) and (i % 3 == 0)):
            print("tipsy topsy")
        elif((i % 7 == 0)):
            print("topsy")
        elif((i % 3 == 0)):
            print("tipsy")
        else:
            pass

enter the  number greater than 20: 56
tipsy
topsy
tipsy
tipsy
tipsy topsy
tipsy
tipsy
topsy
tipsy
tipsy
topsy
tipsy
tipsy
tipsy topsy
tipsy
tipsy
topsy
tipsy
tipsy
topsy

# find largest number from list of numbers entered

In [146]:
n = int(input("enter how many numbers: "))
large = 0
for i in range(n):
    num = int(input("enter the number: "))
    if(num > large):
        large = num
else:
    print("the largest number is:", large)

enter how many numbers: 5
enter the number: 35
enter the number: 76
enter the number: 45
enter the number: 34
enter the number: 77
the largest number is: 77

# frtom a list print second largest numuber

In [147]:
n = int(input("enter the number of elements: "))
fl = sl = None  # also can take 0 in place of
for i in range(n):
    num = int(input("enter the number: "))
    if(fl == None):  # also can take 0 in place of
        fl = num
    elif(num > fl):
        sl = fl
        fl = num
    elif(num < fl):
        if(sl == None):  # also can take 0 in place of
            sl = num
        elif(num > sl):
            sl = num
else:
    if(sl == None):  # also can take 0 in place of2

        sl = fl
    print("first largest is=", fl, "\nsecond largest=", sl)

enter the number of elements: 4
enter the number: 45
enter the number: 76
enter the number: 42
enter the number: 89
first largest is= 89
second largest= 76

# find which number are palindrom or which not

In [148]:
n = input("enter the number: ")
for i in range((len(n)//2)+1):
    if(n[i] == n[-i-1]):
        continue
    else:
        print("not palindrome!!!!!!")
else:
    print("it is palindrome")

enter the number: 45
not palindrome!!!!!!
not palindrome!!!!!!
it is palindrome

# write a program to read an integer and determine number of digits, and print y integer with tens place as number of digit in x and ones place as most significant digit in x

In [149]:
n = input("enter tjhe number: ")
print("y= ", len(n), n[0], sep='')

enter tjhe number: 56
y= 25

# program to prin digit between 1 to n divisible by m and check that the divisible digit even or odd

In [150]:
n = int(input("enter the number of terms: "))
m = int(input("enter the digit to check for divisible: "))
for i in range(1, n+1):
    if(i % m == 0 and i % 2 == 0):
        print(i, "is divisible by", m, "and it is evevn")
    elif(i % m == 0):
        print(i, "is divisible by", m, "and it is odd")

enter the number of terms: 5
enter the digit to check for divisible: 35

# program to sum the sequence till n

## seq1>

            (2/9)-(5/13)+(8/17)+............
    
## seq2>

            (1^2)+(3^2)+(5^2)+..............

In [151]:
# sequence 1

n = int(input("enter the number of terms: "))

res = 0
for i in range(n):
    res += (((-1)**i)*((2+(i*3))/(9+(i*4))))
else:
    print("the result is:", res)

enter the number of terms: 4
the result is: -0.21561445090856862

In [152]:
# sequence 2

n = int(input("enter the number of terms: "))
s = 0
for i in range(1, n+1):
    s += i**2
else:
    print("the result is: ", s)

enter the number of terms: 5
the result is:  55

# program to sum the sequence

        1+(1/1!)+(1/2!)+(1/3!)+.......+(1/n!)

In [153]:
n = int(input("enter the number of terms: "))
s = 1
for i in range(1, n+1):
    fact = 1
    for j in range(1, i+1):
        fact *= j
    s += fact**(-1)

else:
    print("the result is:", s)

enter the number of terms: 5
the result is: 2.7166666666666663

# accept age of n employee and count employee in age group:
    
## 1. 26-35

## 2. 36-45

## 3.46-55

In [154]:
n = int(input("enter the number of employees: "))
ag1 = ag2 = ag3 = 0
for i in range(n):
    age = int(input("enter the age: "))
    if(age > 45 and age < 56):
        ag3 += 1
    elif(age > 35):
        ag2 += 1
    elif(age > 25):
        ag1 += 1
    else:
        print("enter the valid age...")
        break
else:
    print("the count of age is: \n26-35:", ag1,
          "\n36-45:", ag2, "\n46-55:", ag3)

enter the number of employees: 5
enter the age: 45
enter the age: 67
enter the age: 47
enter the age: 56
enter the age: 54
the count of age is:
26-35: 0
36-45: 3
46-55: 2

# program to find sum of the series

## series1:

                x-((x^2)/2!)+((x^3)/3!)-((x^4)/4!).......upto n
    
## series2:

                x+((x^2)/2!)+((x^3)/3!)+((x^4)/4!).......upto n

In [155]:
# series 1

n = int(input("enter the number of terms: "))
x = float(input("enter the value of x: "))
res = 0
for i in range(1, n+1):
    fact = 1
    for j in range(1, i+1):
        fact *= j
    res = res+(((-1)**(i-1))*((x**i)/fact))
else:
    print("the result is:", res)

enter the number of terms: 4
enter the value of x: 56
the result is: -382013.3333333334

In [156]:
# series 2

n = int(input("enter the number of terms: "))
x = float(input("enter the value of x: "))
res = 0
for i in range(1, n+1):
    fact = 1
    for j in range(1, i+1):
        fact *= j
    res = res+((x**i)/fact)
else:
    print("the result is:", res)

enter the number of terms: 5
enter the value of x: 67
the result is: 12143111.266666668

# program to print

## 1. 

                    *
                   * *
                  * * *
                   * *
                    *

#                    
## 2.

                    *
                    * *
                    * * *
                    * *
                    *
                    
## 3.


                    *
                   * *
                  *   *
                   * *
                    *

## 4.

                    *
                    * *
                    *   *
                    *     *
                    *   *
                    * *
                    *

In [158]:
for i in range(127744, 129751):
    print(i, "=", chr(i))

127744 =
127745 =
127746 =
127747 =
127748 =
127749 =
127750 =
127751 =
127752 =
127753 =
127754 =
127755 =
127756 =
127757 =
127758 =
127759 =
127760 =
127761 =
127762 =
127763 =
127764 =
127765 =
127766 =
127767 =
127768 =
127769 =
127770 =
127771 =
127772 =
127773 =
127774 =
127775 =
127776 =
127777 =
127778 =
127779 =
127780 =
127781 =
127782 =
127783 =
127784 =
127785 =
127786 =
127787 =
127788 =
127789 =
127790 =
127791 =
127792 =
127793 =
127794 =
127795 =
127796 =
127797 =
127798 =
127799 =
127800 =
127801 =
127802 =
127803 =
127804 =
127805 =
127806 =
127807 =
127808 =
127809 =
127810 =
127811 =
127812 =
127813 =
127814 =
127815 =
127816 =
127817 =
127818 =
127819 =
127820 =
127821 =
127822 =
127823 =
127824 =
127825 =
127826 =
127827 =
127828 =
127829 =
127830 =
127831 =
127832 =
127833 =
127834 =
127835 =
127836 =
127837 =
127838 =
127839 =
127840 =
127841 =
127842 =
127843 =
127844 =
127845 =
127846 =
127847 =
127848 =
127849 =
127850 =
127851 =
127852 =
127853 =
127854 =
127855 =
127856 =
127857 =
127858 =
127859 =
127860 =
127861 =
127862 =
127863 =
127864 =
127865 =
127866 =
127867 =
127868 =
127869 =
127870 =
127871 =
127872 =
127873 =
127874 =
127875 =
127876 =
127877 =
127878 =
127879 =
127880 =
127881 =
127882 =
127883 =
127884 =
127885 =
127886 =
127887 =
127888 =
127889 =
127890 =
127891 =
127892 =
127893 =
127894 =
127895 =
127896 =
127897 =
127898 =
127899 =
127900 =
127901 =
127902 =
127903 =
127904 =
127905 =
127906 =
127907 =
127908 =
127909 =
127910 =
127911 =
127912 =
127913 =
127914 =
127915 =
127916 =
127917 =
127918 =
127919 =
127920 =
127921 =
127922 =
127923 =
127924 =
127925 =
127926 =
127927 =
127928 =
127929 =
127930 =
127931 =
127932 =
127933 =
127934 =
127935 =
127936 =
127937 =
127938 =
127939 =
127940 =
127941 =
127942 =
127943 =
127944 =
127945 =
127946 =
127947 =
127948 =
127949 =
127950 =
127951 =
127952 =
127953 =
127954 =
127955 =
127956 =
127957 =
127958 =
127959 =
127960 =
127961 =
127962 =
127963 =
127964 =
127965 =
127966 =
127967 =
127968 =
127969 =
127970 =
127971 =
127972 =
127973 =
127974 =
127975 =
127976 =
127977 =
127978 =
127979 =
127980 =
127981 =
127982 =
127983 =
127984 =
127985 =
127986 =
127987 =
127988 =
127989 =
127990 =
127991 =
127992 =
127993 =
127994 =
127995 =
127996 =
127997 =
127998 =
127999 =
128000 =
128001 =
128002 =
128003 =
128004 =
128005 =
128006 =
128007 =
128008 =
128009 =
128010 =
128011 =
128012 =
128013 =
128014 =
128015 =
128016 =
128017 =
128018 =
128019 =
128020 =
128021 =
128022 =
128023 =
128024 =
128025 =
128026 =
128027 =
128028 =
128029 =
128030 =
128031 =
128032 =
128033 =
128034 =
128035 =
128036 =
128037 =
128038 =
128039 =
128040 =
128041 =
128042 =
128043 =
128044 =
128045 =
128046 =
128047 =
128048 =
128049 =
128050 =
128051 =
128052 =
128053 =
128054 =
128055 =
128056 =
128057 =
128058 =
128059 =
128060 =
128061 =
128062 =
128063 =
128064 =
128065 =
128066 =
128067 =
128068 =
128069 =
128070 =
128071 =
128072 =
128073 =
128074 =
128075 =
128076 =
128077 =
128078 =
128079 =
128080 =
128081 =
128082 =
128083 =
128084 =
128085 =
128086 =
128087 =
128088 =
128089 =
128090 =
128091 =
128092 =
128093 =
128094 =
128095 =
128096 =
128097 =
128098 =
128099 =
128100 =
128101 =
128102 =
128103 =
128104 =
128105 =
128106 =
128107 =
128108 =
128109 =
128110 =
128111 =
128112 =
128113 =
128114 =
128115 =
128116 =
128117 =
128118 =
128119 =
128120 =
128121 =
128122 =
128123 =
128124 =
128125 =
128126 =
128127 =
128128 =
128129 =
128130 =
128131 =
128132 =
128133 =
128134 =
128135 =
128136 =
128137 =
128138 =
128139 =
128140 =
128141 =
128142 =
128143 =
128144 =
128145 =
128146 =
128147 =
128148 =
128149 =
128150 =
128151 =
128152 =
128153 =
128154 =
128155 =
128156 =
128157 =
128158 =
128159 =
128160 =
128161 =
128162 =
128163 =
128164 =
128165 =
128166 =
128167 =
128168 =
128169 =
128170 =
128171 =
128172 =
128173 =
128174 =
128175 =
128176 =
128177 =
128178 =
128179 =
128180 =
128181 =
128182 =
128183 =
128184 =
128185 =
128186 =
128187 =
128188 =
128189 =
128190 =
128191 =
128192 =
128193 =
128194 =
128195 =
128196 =
128197 =
128198 =
128199 =
128200 =
128201 =
128202 =
128203 =
128204 =
128205 =
128206 =
128207 =
128208 =
128209 =
128210 =
128211 =
128212 =
128213 =
128214 =
128215 =
128216 =
128217 =
128218 =
128219 =
128220 =
128221 =
128222 =
128223 =
128224 =
128225 =
128226 =
128227 =
128228 =
128229 =
128230 =
128231 =
128232 =
128233 =
128234 =
128235 =
128236 =
128237 =
128238 =
128239 =
128240 =
128241 =
128242 =
128243 =
128244 =
128245 =
128246 =
128247 =
128248 =
128249 =
128250 =
128251 =
128252 =
128253 =
128254 =
128255 =
128256 =
128257 =
128258 =
128259 =
128260 =
128261 =
128262 =
128263 =
128264 =
128265 =
128266 =
128267 =
128268 =
128269 =
128270 =
128271 =
128272 =
128273 =
128274 =
128275 =
128276 =
128277 =
128278 =
128279 =
128280 =
128281 =
128282 =
128283 =
128284 =
128285 =
128286 =
128287 =
128288 =
128289 =
128290 =
128291 =
128292 =
128293 =
128294 =
128295 =
128296 =
128297 =
128298 =
128299 =
128300 =
128301 =
128302 =
128303 =
128304 =
128305 =
128306 =
128307 =
128308 =
128309 =
128310 =
128311 =
128312 =
128313 =
128314 =
128315 =
128316 =
128317 =
128318 =
128319 =
128320 =
128321 =
128322 =
128323 =
128324 =
128325 =
128326 =
128327 =
128328 =
128329 =
128330 =
128331 =
128332 =
128333 =
128334 =
128335 =
128336 =
128337 =
128338 =
128339 =
128340 =
128341 =
128342 =
128343 =
128344 =
128345 =
128346 =
128347 =
128348 =
128349 =
128350 =
128351 =
128352 =
128353 =
128354 =
128355 =
128356 =
128357 =
128358 =
128359 =
128360 =
128361 =
128362 =
128363 =
128364 =
128365 =
128366 =
128367 =
128368 =
128369 =
128370 =
128371 =
128372 =
128373 =
128374 =
128375 =
128376 =
128377 =
128378 =
128379 =
128380 =
128381 =
128382 =
128383 =
128384 =
128385 =
128386 =
128387 =
128388 =
128389 =
128390 =
128391 =
128392 =
128393 =
128394 =
128395 =
128396 =
128397 =
128398 =
128399 =
128400 =
128401 =
128402 =
128403 =
128404 =
128405 =
128406 =
128407 =
128408 =
128409 =
128410 =
128411 =
128412 =
128413 =
128414 =
128415 =
128416 =
128417 =
128418 =
128419 =
128420 =
128421 =
128422 =
128423 =
128424 =
128425 =
128426 =
128427 =
128428 =
128429 =
128430 =
128431 =
128432 =
128433 =
128434 =
128435 =
128436 =
128437 =
128438 =
128439 =
128440 =
128441 =
128442 =
128443 =
128444 =
128445 =
128446 =
128447 =
128448 =
128449 =
128450 =
128451 =
128452 =
128453 =
128454 =
128455 =
128456 =
128457 =
128458 =
128459 =
128460 =
128461 =
128462 =
128463 =
128464 =
128465 =
128466 =
128467 =
128468 =
128469 =
128470 =
128471 =
128472 =
128473 =
128474 =
128475 =
128476 =
128477 =
128478 =
128479 =
128480 =
128481 =
128482 =
128483 =
128484 =
128485 =
128486 =
128487 =
128488 =
128489 =
128490 =
128491 =
128492 =
128493 =
128494 =
128495 =
128496 =
128497 =
128498 =
128499 =
128500 =
128501 =
128502 =
128503 =
128504 =
128505 =
128506 =
128507 =
128508 =
128509 =
128510 =
128511 =
128512 =
128513 =
128514 =
128515 =
128516 =
128517 =
128518 =
128519 =
128520 =
128521 =
128522 =
128523 =
128524 =
128525 =
128526 =
128527 =
128528 =
128529 =
128530 =
128531 =
128532 =
128533 =
128534 =
128535 =
128536 =
128537 =
128538 =
128539 =
128540 =
128541 =
128542 =
128543 =
128544 =
128545 =
128546 =
128547 =
128548 =
128549 =
128550 =
128551 =
128552 =
128553 =
128554 =
128555 =
128556 =
128557 =
128558 =
128559 =
128560 =
128561 =
128562 =
128563 =
128564 =
128565 =
128566 =
128567 =
128568 =
128569 =
128570 =
128571 =
128572 =
128573 =
128574 =
128575 =
128576 =
128577 =
128578 =
128579 =
128580 =
128581 =
128582 =
128583 =
128584 =
128585 =
128586 =
128587 =
128588 =
128589 =
128590 =
128591 =
128592 =
128593 =
128594 =
128595 =
128596 =
128597 =
128598 =
128599 =
128600 =
128601 =
128602 =
128603 =
128604 =
128605 =
128606 =
128607 =
128608 =
128609 =
128610 =
128611 =
128612 =
128613 =
128614 =
128615 =
128616 =
128617 =
128618 =
128619 =
128620 =
128621 =
128622 =
128623 =
128624 =
128625 =
128626 =
128627 =
128628 =
128629 =
128630 =
128631 =
128632 =
128633 =
128634 =
128635 =
128636 =
128637 =
128638 =
128639 =
128640 =
128641 =
128642 =
128643 =
128644 =
128645 =
128646 =
128647 =
128648 =
128649 =
128650 =
128651 =
128652 =
128653 =
128654 =
128655 =
128656 =
128657 =
128658 =
128659 =
128660 =
128661 =
128662 =
128663 =
128664 =
128665 =
128666 =
128667 =
128668 =
128669 =
128670 =
128671 =
128672 =
128673 =
128674 =
128675 =

128676 =
128677 =
128678 =
128679 =
128680 =
128681 =
128682 =
128683 =
128684 =
128685 =
128686 =
128687 =
128688 =
128689 =
128690 =
128691 =
128692 =
128693 =
128694 =
128695 =
128696 =
128697 =
128698 =
128699 =
128700 =
128701 =
128702 =
128703 =
128704 =
128705 =
128706 =
128707 =
128708 =
128709 =
128710 =
128711 =
128712 =
128713 =
128714 =
128715 =
128716 =
128717 =
128718 =
128719 =
128720 =
128721 =
128722 =
128723 =
128724 =
128725 =
128726 =
128727 =
128728 =
128729 =
128730 =
128731 =
128732 =
128733 =
128734 =
128735 =
128736 =
128737 =
128738 =
128739 =
128740 =
128741 =
128742 =
128743 =
128744 =
128745 =
128746 =
128747 =
128748 =
128749 =
128750 =
128751 =
128752 =
128753 =
128754 =
128755 =
128756 =
128757 =
128758 =
128759 =
128760 =
128761 =
128762 =
128763 =
128764 =
128765 =
128766 =
128767 =
128768 =
128769 =
128770 =
128771 =
128772 =
128773 =
128774 =
128775 =
128776 =
128777 =
128778 =
128779 =
128780 =
128781 =
128782 =
128783 =
128784 =
128785 =
128786 =
128787 =
128788 =
128789 =
128790 =
128791 =
128792 =
128793 =
128794 =
128795 =
128796 =
128797 =
128798 =
128799 =
128800 =
128801 =
128802 =
128803 =
128804 =
128805 =
128806 =
128807 =
128808 =
128809 =
128810 =
128811 =
128812 =
128813 =
128814 =
128815 =
128816 =
128817 =
128818 =
128819 =
128820 =
128821 =
128822 =
128823 =
128824 =
128825 =
128826 =
128827 =
128828 =
128829 =
128830 =
128831 =
128832 =
128833 =
128834 =
128835 =
128836 =
128837 =
128838 =
128839 =
128840 =
128841 =
128842 =
128843 =
128844 =
128845 =
128846 =
128847 =
128848 =
128849 =
128850 =
128851 =
128852 =
128853 =
128854 =
128855 =
128856 =
128857 =
128858 =
128859 =
128860 =
128861 =
128862 =
128863 =
128864 =
128865 =
128866 =
128867 =
128868 =
128869 =
128870 =
128871 =
128872 =
128873 =
128874 =
128875 =
128876 =
128877 =
128878 =
128879 =
128880 =
128881 =
128882 =
128883 =
128884 =
128885 =
128886 =
128887 =
128888 =
128889 =
128890 =
128891 =
128892 =
128893 =
128894 =
128895 =
128896 =
128897 =
128898 =
128899 =
128900 =
128901 =
128902 =
128903 =
128904 =
128905 =
128906 =
128907 =
128908 =
128909 =
128910 =
128911 =
128912 =
128913 =
128914 =
128915 =
128916 =
128917 =
128918 =
128919 =
128920 =
128921 =
128922 =
128923 =
128924 =
128925 =
128926 =
128927 =
128928 =
128929 =
128930 =
128931 =
128932 =
128933 =
128934 =
128935 =
128936 =
128937 =
128938 =
128939 =
128940 =
128941 =
128942 =
128943 =
128944 =
128945 =
128946 =
128947 =
128948 =
128949 =
128950 =
128951 =
128952 =
128953 =
128954 =
128955 =
128956 =
128957 =
128958 =
128959 =
128960 =
128961 =
128962 =
128963 =
128964 =
128965 =
128966 =
128967 =
128968 =
128969 =
128970 =
128971 =
128972 =
128973 =
128974 =
128975 =
128976 =
128977 =
128978 =
128979 =
128980 =
128981 =
128982 =
128983 =
128984 =
128985 =
128986 =
128987 =
128988 =
128989 =
128990 =
128991 =
128992 =
128993 =
128994 =
128995 =
128996 =
128997 =
128998 =
128999 =
129000 =
129001 =
129002 =
129003 =
129004 =
129005 =
129006 =
129007 =
129008 =
129009 =
129010 =
129011 =
129012 =
129013 =
129014 =
129015 =
129016 =
129017 =
129018 =
129019 =
129020 =
129021 =
129022 =
129023 =
129024 =
129025 =
129026 =
129027 =
129028 =
129029 =
129030 =
129031 =
129032 =
129033 =
129034 =
129035 =
129036 =
129037 =
129038 =
129039 =
129040 =
129041 =
129042 =
129043 =
129044 =
129045 =
129046 =
129047 =
129048 =
129049 =
129050 =
129051 =
129052 =
129053 =
129054 =
129055 =
129056 =
129057 =
129058 =
129059 =
129060 =
129061 =
129062 =
129063 =
129064 =
129065 =
129066 =
129067 =
129068 =
129069 =
129070 =
129071 =
129072 =
129073 =
129074 =
129075 =
129076 =
129077 =
129078 =
129079 =
129080 =
129081 =
129082 =
129083 =
129084 =
129085 =
129086 =
129087 =
129088 =
129089 =
129090 =
129091 =
129092 =
129093 =
129094 =
129095 =
129096 =
129097 =
129098 =
129099 =
129100 =
129101 =
129102 =
129103 =
129104 =
129105 =
129106 =
129107 =
129108 =
129109 =
129110 =
129111 =
129112 =
129113 =
129114 =
129115 =
129116 =
129117 =
129118 =
129119 =
129120 =
129121 =
129122 =
129123 =
129124 =
129125 =
129126 =
129127 =
129128 =
129129 =
129130 =
129131 =
129132 =
129133 =
129134 =
129135 =
129136 =
129137 =
129138 =
129139 =
129140 =
129141 =
129142 =
129143 =
129144 =
129145 =
129146 =
129147 =
129148 =
129149 =
129150 =
129151 =
129152 =
129153 =
129154 =
129155 =
129156 =
129157 =
129158 =
129159 =
129160 =
129161 =
129162 =
129163 =
129164 =
129165 =
129166 =
129167 =
129168 =
129169 =
129170 =
129171 =
129172 =
129173 =
129174 =
129175 =
129176 =
129177 =
129178 =
129179 =
129180 =
129181 =
129182 =
129183 =
129184 =
129185 =
129186 =
129187 =
129188 =
129189 =
129190 =
129191 =
129192 =
129193 =
129194 =
129195 =
129196 =
129197 =
129198 =
129199 =
129200 =
129201 =
129202 =
129203 =
129204 =
129205 =
129206 =
129207 =
129208 =
129209 =
129210 =
129211 =
129212 =
129213 =
129214 =
129215 =
129216 =
129217 =
129218 =
129219 =
129220 =
129221 =
129222 =
129223 =
129224 =
129225 =
129226 =
129227 =
129228 =
129229 =
129230 =
129231 =
129232 =
129233 =
129234 =
129235 =
129236 =
129237 =
129238 =
129239 =
129240 =
129241 =
129242 =
129243 =
129244 =
129245 =
129246 =
129247 =
129248 =
129249 =
129250 =
129251 =
129252 =
129253 =
129254 =
129255 =
129256 =
129257 =
129258 =
129259 =
129260 =
129261 =
129262 =
129263 =
129264 =
129265 =
129266 =
129267 =
129268 =
129269 =
129270 =
129271 =
129272 =
129273 =
129274 =
129275 =
129276 =
129277 =
129278 =
129279 =
129280 =
129281 =
129282 =
129283 =
129284 =
129285 =
129286 =
129287 =
129288 =
129289 =
129290 =
129291 =
129292 =
129293 =
129294 =
129295 =
129296 =
129297 =
129298 =
129299 =
129300 =
129301 =
129302 =
129303 =
129304 =
129305 =
129306 =
129307 =
129308 =
129309 =
129310 =
129311 =
129312 =
129313 =
129314 =
129315 =
129316 =
129317 =
129318 =
129319 =
129320 =
129321 =
129322 =
129323 =
129324 =
129325 =
129326 =
129327 =
129328 =
129329 =
129330 =
129331 =
129332 =
129333 =
129334 =
129335 =
129336 =
129337 =
129338 =
129339 =
129340 =
129341 =
129342 =
129343 =
129344 =
129345 =
129346 =
129347 =
129348 =
129349 =
129350 =
129351 =
129352 =
129353 =
129354 =
129355 =
129356 =
129357 =
129358 =
129359 =
129360 =
129361 =
129362 =
129363 =
129364 =
129365 =
129366 =
129367 =
129368 =
129369 =
129370 =

129371 =
129372 =
129373 =
129374 =
129375 =
129376 =
129377 =
129378 =
129379 =
129380 =
129381 =
129382 =
129383 =
129384 =
129385 =
129386 =
129387 =
129388 =
129389 =
129390 =
129391 =
129392 =
129393 =
129394 =
129395 =
129396 =
129397 =
129398 =
129399 =
129400 =
129401 =
129402 =
129403 =
129404 =
129405 =
129406 =
129407 =
129408 =
129409 =
129410 =
129411 =
129412 =
129413 =
129414 =
129415 =
129416 =
129417 =
129418 =
129419 =
129420 =
129421 =
129422 =
129423 =
129424 =
129425 =
129426 =
129427 =
129428 =
129429 =
129430 =
129431 =
129432 =
129433 =
129434 =
129435 =
129436 =
129437 =
129438 =
129439 =
129440 =
129441 =
129442 =
129443 =
129444 =
129445 =
129446 =
129447 =
129448 =
129449 =
129450 =
129451 =
129452 =
129453 =
129454 =
129455 =
129456 =
129457 =
129458 =
129459 =
129460 =
129461 =
129462 =
129463 =
129464 =
129465 =
129466 =
129467 =
129468 =
129469 =
129470 =
129471 =
129472 =
129473 =
129474 =
129475 =
129476 =
129477 =
129478 =
129479 =
129480 =
129481 =
129482 =
129483 =
129484 =
129485 =
129486 =
129487 =
129488 =
129489 =
129490 =
129491 =
129492 =
129493 =
129494 =
129495 =
129496 =
129497 =
129498 =
129499 =
129500 =
129501 =
129502 =
129503 =
129504 =
129505 =
129506 =
129507 =
129508 =
129509 =
129510 =
129511 =
129512 =
129513 =
129514 =
129515 =
129516 =
129517 =
129518 =
129519 =
129520 =
129521 =
129522 =
129523 =
129524 =
129525 =
129526 =
129527 =
129528 =
129529 =
129530 =
129531 =
129532 =
129533 =
129534 =
129535 =
129536 =
129537 =
129538 =
129539 =
129540 =
129541 =
129542 =
129543 =
129544 =
129545 =
129546 =
129547 =
129548 =
129549 =
129550 =
129551 =
129552 =
129553 =
129554 =
129555 =
129556 =
129557 =
129558 =
129559 =
129560 =
129561 =
129562 =
129563 =
129564 =
129565 =
129566 =
129567 =
129568 =
129569 =
129570 =
129571 =
129572 =
129573 =
129574 =
129575 =
129576 =
129577 =
129578 =
129579 =
129580 =
129581 =
129582 =
129583 =
129584 =
129585 =
129586 =
129587 =
129588 =
129589 =
129590 =
129591 =
129592 =
129593 =
129594 =
129595 =
129596 =
129597 =
129598 =
129599 =
129600 =
129601 =
129602 =
129603 =
129604 =
129605 =
129606 =
129607 =
129608 =
129609 =
129610 =
129611 =
129612 =
129613 =
129614 =
129615 =
129616 =
129617 =
129618 =
129619 =
129620 =
129621 =
129622 =
129623 =
129624 =
129625 =
129626 =
129627 =
129628 =
129629 =
129630 =
129631 =
129632 =
129633 =
129634 =
129635 =
129636 =
129637 =
129638 =
129639 =
129640 =
129641 =
129642 =
129643 =
129644 =
129645 =
129646 =
129647 =
129648 =
129649 =
129650 =
129651 =
129652 =
129653 =
129654 =
129655 =
129656 =
129657 =
129658 =
129659 =
129660 =
129661 =
129662 =
129663 =
129664 =
129665 =
129666 =
129667 =
129668 =
129669 =
129670 =
129671 =
129672 =
129673 =
129674 =
129675 =
129676 =
129677 =
129678 =
129679 =
129680 =
129681 =
129682 =
129683 =
129684 =
129685 =
129686 =
129687 =
129688 =
129689 =
129690 =
129691 =
129692 =
129693 =
129694 =
129695 =
129696 =
129697 =
129698 =
129699 =
129700 =
129701 =
129702 =
129703 =
129704 =
129705 =
129706 =
129707 =
129708 =
129709 =
129710 =
129711 =
129712 =
129713 =
129714 =
129715 =
129716 =
129717 =
129718 =
129719 =
129720 =
129721 =
129722 =
129723 =
129724 =
129725 =
129726 =
129727 =
129728 =
129729 =
129730 =
129731 =
129732 =
129733 =
129734 =
129735 =
129736 =
129737 =
129738 =
129739 =
129740 =
129741 =
129742 =
129743 =
129744 =
129745 =
129746 =
129747 =
129748 =
129749 =
129750 =

In [159]:
# seq 1

n = int(input())

for i in range((2*n)-1):
    if(i <= (((2*n)-1)//2)):
        for j in range((2*n)-1):
            if j in range((((2*n)-1)//2)-i, (((2*n)-1)//2)+i+1, 2):
                print(chr(128517), end='')
            else:
                print(end=' ')
        print()

6

# sequence 2

# use nested loops to print:

## 1.

        A
    
        A  B
        
        A  B  C
        
        A  B  C  D
        
        A  B  C  D  E
        
        A  B  C  D  E  F
        
## 2.

        0
    
        2  2
        
        4  4  4
        
        8  8  8  8

In [160]:
# sequence 1:

n = int(input("enter the number of alphabets: "))

for i in range(n+1):
    for j in range(i):
        print(chr(ord('A')+j), end=' ')
    print()

enter the number of alphabets: 56

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J
A B C D E F G H I J K
A B C D E F G H I J K L
A B C D E F G H I J K L M
A B C D E F G H I J K L M N
A B C D E F G H I J K L M N O
A B C D E F G H I J K L M N O P
A B C D E F G H I J K L M N O P Q
A B C D E F G H I J K L M N O P Q R
A B C D E F G H I J K L M N O P Q R S
A B C D E F G H I J K L M N O P Q R S T
A B C D E F G H I J K L M N O P Q R S T U
A B C D E F G H I J K L M N O P Q R S T U V
A B C D E F G H I J K L M N O P Q R S T U V W
A B C D E F G H I J K L M N O P Q R S T U V W X
A B C D E F G H I J K L M N O P Q R S T U V W X Y
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ]
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ `
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v w
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v w x

In [161]:
# sequence 2

row = int(input("enter the number of rows: "))

for i in range(row):
    for j in range(i+1):
        if(i == 0):
            print("0", end='')
        else:
            print(2**i, end=' ')

    print()

enter the number of rows: 5
0
2 2
4 4 4
8 8 8 8
16 16 16 16 16

# rectangle with n rows of "*" with n columns of "*"

In [162]:
n = int(input("enter the n umber of rows: "))
col = int(input("enter the number of in each row (not to be same as rows): "))
if(n == col):
    print("this cant create rectangle!!!")
else:
    for i in range(n):
        for i in range(col):
            print("*", end=' ')
        print()

enter the n umber of rows: 6
enter the number of in each row (not to be same as rows): 67
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

# input three number and find the first, second and third hihest number

In [163]:
n1 = int(input("enter the number1: "))
n2 = int(input("enter the number2: "))
n3 = int(input("enter the number3: "))

if(n1 > n2 and n1 > n3):
    h = n1
    if(n2 > n3):
        sh = n2
        th = n3
    else:
        sh = n3
        th = n2
    print("smallest number:", th, "\nnext higher:", sh, "\nhighest number:", h)
elif(n2 > n1 and n2 > n3):
    h = n2
    if(n1 > n3):
        sh = n1
        th = n3
    else:
        sh = n3
        th = n1
    print("smallest number:", th, "\nnext higher:", sh, "\nhighest number:", h)
elif(n3 > n1 and n3 > n2):
    h = n3
    if(n2 > n1):
        sh = n2
        th = n1
    else:
        sh = n1
        th = n2
    print("smallest number:", th, "\nnext higher:", sh, "\nhighest number:", h)
else:
    print("the numbers aresame")

enter the number1: 54
enter the number2: 5
enter the number3: 67
smallest number: 5
next higher: 54
highest number: 67

# input temp and convert from celcius to farheniet or fareneit to celcius

In [164]:
n = float(input("enter the temperature:"))
ch = int(input("enter the unit of temerature:\n 1.For celcius\n2.For Farheneit\n"))
if(ch == 1):
    print("temperature in farheneit is:", ((9/5)*n)+32)
else:
    print("temperature in celcius is:", (5*(n-32))/9)

enter the temperature:65
enter the unit of temerature:
 1.For celcius
2.For Farheneit
3
temperature in celcius is: 18.333333333333332

# ask the user to enter the temp in celcius and print if:

## 1. if exact -273.15 then print temp is absolute 0
## 2. if between 0 to -273.15 print temperature is below freezing
## 3. if 0 print at freezing point
## 4. if between 0 to 100 print temnp. at normal range
## 5. if 100 print at boiling point
## 6. if above 100 print above boiling point
## 7. temp is below -273.15 print it invalid temperature as it is below absolute zero

In [165]:
c = float(input("enter the temperature in celcius: "))
f = ((9/5)*c)+32
if(f == -273.15):
    print("temp is absolute 0")
elif(f < 0 and f > -273.15):
    print("temnp is below freezing")
elif(f == 0):
    print("at freezinmg point")
elif(f > 0 and f < 100):
    print("at normal tmperature")
elif(f == 100):
    print("at boiling temp")
elif(f > 100):
    print("at above boiling temp")
else:
    print("invali temperature")

enter the temperature in celcius: 45
at above boiling temp

# STRING MANIPULATION

In [166]:
# strings are immutabl;e datattpes

s = "hello"
print(s)
s[0] = 'R'

hello

TypeError: 'str' object does not support item assignment

In [167]:
# empyty string length is 0
len("")

0

In [168]:
s = "rahul"
print(s[0] == s[-5])
print(s[1] == s[-4])
print(s[2] == s[-3])
print(s[3] == s[-2])
print(s[4] == s[-1])

True
True
True
True
True

# traversing a string

In [169]:
# irt refers to the iterating throuh the string elemnts
s = "rahul dhanola"

for ch in s:
    print(ch)

r
a
h
u
l

d
h
a
n
o
l
a

# program to display string in the reverse order

In [170]:
s = input("enter the string: ")
for i in range(1, len(s)+1):
    print(s[-i])

enter the string: hello there
e
r
e
h
t

o
l
l
e
h

# program to input string and display it as:
    
## first character                last character
## second character           second last character
##    ...                            ...

In [171]:
s = input("enter the string: ")
for i in range(len(s)):
    print(s[i], "      ", s[-i-1])

enter the string: hello there
h        e
e        r
l        e
l        h
o        t

t        o
h        l
e        l
r        e
e        h

# string ooperators

In [172]:
# basic operators: string concatenation
print("rahul"+"dhanola")
print("rahul "+"dhanola")

rahuldhanola
rahul dhanola

In [173]:
# a numbner cant be concatenated with string
print("rahul"+"3")  # valid
print("rahul"+3)

rahul3

TypeError: can only concatenate str (not "int") to str

In [174]:
# basic operators: string replication
print("rahul"*3)
print("rahul "*3)

rahulrahulrahul
rahul rahul rahul

In [175]:
# a string cant be replicated with string
print("rahul"*3)  # valid
print("rahul"*"3")

rahulrahulrahul

TypeError: can't multiply sequence by non-int of type 'str'

# membership operators

In [2]:
# there are two operator in and not in
print("rahul" in "rahul dhanola")  # True
print("vidhi" in "rahul dhanola")  # false

True
False

In [3]:
print("rahul" not in "rahul dhanola")  # false
print("vidhi" not in "rahul dhanola")  # True
# these can only work with sequencxe variables

False
True

# compartison operators

In [4]:
# the  comparison is done based on charcter by character ascii values
print("rahul" < "Rahul")  # true
print("rahul" > "Rahul")  # false
print("rahul" < "rahul dhanola")  # true

False
True
True

# charcter sascii values
## 1. '0' to '9' => 49 to 57
## 2. 'A' to 'Z' => 65 to 90
## 3. 'a' to 'z' => 97 to 122

# ordinal value and ascii value of string

In [5]:
# use ord() for the ordinal or convert a charcater to its ascii value
print(ord("A"))  # 65
print(ord("9"))  # 57

65
57

In [6]:
# use chr() for the charcater or convert a ascii to its charcater value
print(chr(65))  # A
print(chr(57))  # 9

A
9

# string slixcing

In [7]:
# THE SYNATAX TO SLICE A STRING IS S[M:N:STEPS]
word = "amazing"

print(word[0:7])  # amazing
print(word[0:])  # amazing
print(word[:7])  # amazing
print(word[:])  # amazing

print(word[0:3])  # ama

print(word[2:5])  # azing

print(word[-5:-1])  # azin

# in slicing the index n is not included of s[m:n:steps]

amazing
amazing
amazing
amazing
ama
azi
azin

In [8]:
print(word[1:6:2])  # mzn
print(word[-7:-3:3])  # az
print(word[::-2])  # giaa

# easy way to reverse a string
print(word[::-1])  # gnizama

mzn
az
giaa
gnizama

In [9]:
# it not give error if out of bound
word[15:20]  # GIVES EMPTY STRING

''

















































# PRINT BELOW WITHOUT NESTED LOOPS:
## #

## ##

## ###

## ####

In [10]:
for i in range(4):
    print("# "*(i+1))

#
# #
# # #
# # # #

# string function and methods

# THE SYNATAX TO CALL ANY STRING FUNCTION IS:
## stringobject.methodname()

In [11]:
# capitalize()
s = "rahul dhanola"

# returs a copy of string with the first capital is scapitalize
print(s.capitalize())

Rahul dhanola

In [12]:
# find(sub,start,end)

s = "rahul dhanola"

# returns the lowest index where the substring found in the gioven range
print(s.find("dhan"))

sub = "dhan"

# returns the lowest index where the substring found in the gioven range
print(s.find(sub, 0, len(s)))

6
6

In [13]:
# isalnum()
s = "rahuldhanola"

s1 = ' '

# returns true if sting conatin alphanumberis and there is atleast one character else false
print(s.isalnum())

print(s1.isalnum())  # returns true if sting conatin alphanumberis else false

True
False

In [14]:
# isalpha()
s = "rahuldhanola"

s1 = ' '

s3 = '1234rahul'

s4 = '621578'

# returns true if sting conatin alphabet and there is atleast one character else false
print(s.isalpha())

print(s1.isalpha())  # returns true if sting conatin alphabet else false

# returns true if sting conatin alphabet and there is atleast one character else false
print(s3.isalpha())

# returns true if sting conatin alphabet and there is atleast one character else false
print(s4.isalpha())

True
False
False
False

In [15]:
# isdigit()
s = "rahuldhanola"

s1 = ' '

s3 = '1234rahul'

s4 = '621578'

# returns true if sting conatin digit and there is atleast one character else false
print(s.isdigit())

print(s1.isdigit())  # returns true if sting conatin digit else false

# returns true if sting conatin digit and there is atleast one character else false
print(s3.isdigit())

# returns true if sting conatin digit and there is atleast one character else false
print(s4.isdigit())

False
False
False
True

In [16]:
# islower()
s = "rahuldhanola"

s1 = ' '

s3 = '1234RAHUL'

s4 = 'RAHUL'

# returns true if sting conatin lowercase character and there is atleast one character else false
print(s.islower())

print(s1.islower())  # returns true if sting conatin lowercase character else false

# returns true if sting conatin lowercase character and there is atleast one character else false
print(s3.islower())

# returns true if sting conatin lowercase character and there is atleast one character else false
print(s4.islower())

True
False
False
False

In [17]:
# upper()
s = "rahuldhanola"

s1 = ' '

s3 = '1234RAHUL'

s4 = 'RAHUL'

# returns true if sting conatin upperacse character and there is atleast one character else false
print(s.upper())

print(s1.upper())  # returns true if sting conatin upperacse character else false

# returns true if sting conatin upperacse character and there is atleast one character else false
print(s3.upper())

# returns true if sting conatin upperacse character and there is atleast one character else false
print(s4.upper())

RAHULDHANOLA

1234RAHUL
RAHUL

In [18]:
# isspace()
s = "rahuldhanola"

s1 = ' '

s3 = '1234RAHUL'

s4 = 'RAHUL'

# returns true if sting conatin space and there is atleast one character else false
print(s.isspace())

print(s1.isspace())  # returns true if sting conatin space else false

# returns true if sting conatin space and there is atleast one character else false
print(s3.isspace())

# returns true if sting conatin space and there is atleast one character else false
print(s4.isspace())

False
True
False
False

In [19]:
# lower()
s = "rahuldhanola"

s1 = ' '

s3 = '1234RAHUL'

s4 = 'RAHUL'

print(s.lower())  # returns a copy of stingconversted to lowerscase

print(s1.lower())  # returns a copy of stingconversted to lowerscase

print(s3.lower())  # returns a copy of stingconversted to lowerscase

print(s4.lower())  # returns a copy of stingconversted to lowerscase

rahuldhanola

1234rahul
rahul

In [20]:
# upper()
s = "rahuldhanola"

s1 = ' '

s3 = '1234RAHUL'

s4 = 'RAHUL'

print(s.upper())  # returns a copy of stingconversted to uppercase

print(s1.upper())  # returns a copy of stingconversted to uppercase

print(s3.upper())  # returns a copy of stingconversted to uppercase

print(s4.upper())  # returns a copy of stingconversted to uppercase

RAHULDHANOLA

1234RAHUL
RAHUL

In [178]:
# lstrip()
s = "rahuldhanola"

s1 = ' '

s3 = '1234RAHUL'

s4 = 'RAHUL'

# returns a copy of with the trailing characters in any regex are removed
print(s.lstrip("hul"))

# returns a copy of with the trailing characters in any regex are removed
print(s1.lstrip())

# if no argument pased then remove the whitespacwes

# returns a copy of with the trailing characters in any regex are removed
print(s1.lstrip())

rahuldhanola

In [179]:
# rstrip()
s = "rahuldhanola"

s1 = ' '

s3 = '1234RAHUL'

s4 = 'RAHUL'

# returns a copy of with the trailing characters in any regex are removed
print(s.rstrip("hul"))

# returns a copy of with the trailing characters in any regex are removed
print(s1.rstrip())

# if no argument pased then remove the whitespacwes

# returns a copy of with the trailing characters in any regex are removed
print(s1.rstrip())

rahuldhanola

In [180]:
# eg of lstroip() and rstrip()

print("saregamapadhanisa".lstrip("tears"))

print("saregamapadhanisa".lstrip("races"))

print("saregamapadhanisa".rstrip("tears"))

print("saregamapadhanisa".rstrip("races"))

gamapadhanisa
gamapadhanisa
saregamapadhani
saregamapadhani

In [181]:
# len()
print(len("rahul"))  # returns the string length

5

# program to input a line ands print sats as:
## number of upperase letters
## number of lowearcse letters
## number of alphabets
## number of digits

In [182]:
s = input("enter the string: ")
up = lo = dig = 0
for i in s:
    if(i.isupper()):
        up += 1
    elif(i.islower()):
        lo += 1
    elif(i.isdigit()):
        dig += 1
    else:
        continue
print("the number of upper letters:", up, "\nthe number of lower letters:",
      lo, "\n the number of alphabets:", lo+up, "\nthe number of digits:", dig)

enter the string: hello there
the number of upper letters: 0
the number of lower letters: 10
 the number of alphabets: 10
the number of digits: 0

# program to take a string and substring and find the number of occurence  of substring int it

In [183]:
s = input("enter the string: ")
sub = input("enter the substring: ")
count = pos = 0
while(True):
    if(sub in s[pos:]):
        count += 1
        pos = s.find(sub, pos, len(s))+1
    else:
        break
print("the number iof ocuurrences of substring is:", count)

enter the string: hello there
enter the substring: hi
the number iof ocuurrences of substring is: 0

# take a sentebnce as input and capitalize each word of it and form a new string

In [184]:
s = input("enter the string: ")
nstr = ''
for i in range(len(s)):
    if(s[i] == " "):
        while(s[i] == " "):
            nstr += s[i]
            i += 1
    elif(i == 0):
        nstr += s[i].capitalize()
    elif(s[i-1] == " " and s[i+1].isalpha()):
        nstr += s[i].capitalize()
    else:
        nstr += s[i]
print("the new string is: ", nstr)

enter the string: hello there
the new string is:  Hello There

# check string is palindrome or not

In [185]:
s = input("enter tren string: ")
for i in range((len(s)//2)+1):
    if(s[i] == s[-i-1]):
        flag = True
    else:
        flag = False
        break
else:
    print("palindrome is there!!!")
if(flag == False):
    print("palindrome not@!!!!")

enter tren string: hello there
palindrome not@!!!!

# program that reads a string and display the longest substring of the string having just the consonants

In [123]:
s=input("enter the string: ")
for i in range(len(s)):
    if("e" in s[i:] or "E" in s[i:] or "a" in s[i:] or "A" in s[i:] or "i" in s[i:] or "I" in s[i:] or "o" in s[i:] or "O" in s[i:] or "u" in s[i:] or "U" in s[i:]):
        continue
    else:
        print("the longest substring is: ",s[i:])
        break

enter the string: aeioupqrs
the longest substring is:  pqrs

# write program to take a email id and check it have thes pcified domain. (assume that no invalid characters in mail)

In [186]:
domain = input("enter the domain: ")
mail = input("enter the mail: ")
if(domain in mail and len(mail) > len(domain)):
    print("it is valid mail")
else:
    print("it's not of any domain!!! try again")

enter the domain: @gmail.com
enter the mail: xyz@gmail.com
it is valid mail

# input a strin g and capitalize each other letter

In [187]:
s = input("enter the string: ")
nstr = ''
if(s[0].isupper()):
    for i in range(len(s)):
        if(i % 2 == 0):
            nstr += s[i].upper()
        else:
            nstr += s[i]
else:
    for i in range(len(s)):
        if(i % 2 == 1):
            nstr += s[i].upper()
        else:
            nstr += s[i]
print("the new string is: ", nstr)

enter the string: hello there
the new string is:  hElLo tHeRe

# DEBUGGING PROGRAMS

# the nbug arises in a program by eroor or due to exception
## the errosr are urther of three types:

# compile time error: they are of two
## syntax and symantics

In [188]:
# synatx error:
x = y = z = 0
x < --y*z
if(x=(x*y))

SyntaxError: invalid syntax (<ipython-input-188-6837084061aa>, line 4)

In [189]:
# semantics erroe

x*y = z

SyntaxError: cannot assign to operator (<ipython-input-189-c475c696357d>, line 3)

# runtime error: they occur during run time and may or maynot stop the program execution

In [42]:
print(10/0)

ZeroDivisionError: division by zero

# logical error: arise dur to improp[er logic implement]

In [43]:
print(alpha)
alpha = 0

NameError: name 'alpha' is not defined

# EXCEPTIONS

# it is an irregular unexpected situatiuon occur on which programmwr jhave no control
## like memory overflow or no kernrel

# EXCEPTION HADLING IN PYTHON

# IN PYTHON THE EXCEPTION IS HANDLED BY TRY AND EXCEPT BLOCK
## try block have statement that can cause an exception
## and except have the statemnt to run if exception occur

In [44]:
try:
    print(10/0)
except:
    print("sorry error occured due to xzero division")

sorry error occured due to xzero division

# LIST MANIPULATION

In [45]:
# lists in the python are the mutable datatypes and cabn have collection of different datatypes
l = list()  # creates an empty list
l = []  # creates an empty list
l = [1, 2, 3, 4, "rahul", "vidhi"]

In [46]:
# a long list can be wriiten in seperate lines also
l = [1, 2, 3, 4, 4, 46563, 4634, 4343, 4354, "rahgul",
     5435, 54, 3, "rahul", 35463, "43543", 4363, "n"]
print(l)
l = [1, 2, 3, 4, 5, 6, [7, 8, 9, 0], 1, 1, 2, 3, 4, 5, 65]
print(l)

[1, 2, 3, 4, 4, 46563, 4634, 4343, 4354, 'rahgul', 5435, 54, 3, 'rahul', 35463, '43543', 4363, 'n']
[1, 2, 3, 4, 5, 6, [7, 8, 9, 0], 1, 1, 2, 3, 4, 5, 65]

In [48]:
# list can create from another sequence
l = list("rahul")
print(l)
l1 = list(input("enter the list elemnts: "))
print(l1)

['r', 'a', 'h', 'u', 'l']
enter the list elemnts: (2,3,4,"rs")
['(', '2', ',', '3', ',', '4', ',', '"', 'r', 's', '"', ')']

# eval() function

In [49]:
# the eval() function can be used to evaluate the result of a expression in string
print(eval("2+3"))
print(eval(input("enbter the expression: ")))

5
enbter the expression: 44*5
220

In [50]:
# the eval() function can automatically store the variable of theytype it is
integer = eval("2+3")
print(type(integer))
floating = eval(input("enbter the expression: "))
print(type(floating))

<class 'int'>
enbter the expression: 34.45
<class 'float'>

In [51]:
# eval() can also be used to enter the sequences or list and convert the storing variable to preffered type
l = eval(input("enter the sequence: "))
print("type is: ", type(l))
t = eval(input("enter the sequence: "))
print("type is: ", type(t))

enter the sequence: (334,53,2,2,"hi")
type is:  <class 'tuple'>
enter the sequence: [2,3,4,53,4]
type is:  <class 'list'>

# similarity of list with strings

In [191]:
l = [1, 2, 3, 4, 5]
print(l[0] == l[-5], l[0])
print(l[1] == l[-4], l[1])
print(l[2] == l[-3], l[2])
print(l[3] == l[-2], l[3])
print(l[4] == l[-1], l[4])

True 1
True 2
True 3
True 4
True 5

In [192]:
# slicing in list is same as strings
print(l[2:])

[3, 4, 5]

# the only difference between list and string is that list is mutable while strings are not mutable

In [193]:
l1 = list("rahul")
l1[0] = "d"
print(l1)
l = "rahul"
l[0] = "d"
print(l)

['d', 'a', 'h', 'u', 'l']

TypeError: 'str' object does not support item assignment

# traversing a list is done similar like traversing a sequence

In [52]:
l = [1, 2, 3, 4, 5, "rahul", "vidhi", "dhanola", "235", "553", 23535, 35634]
for elements in l:
    print(elements)

1
2
3
4
5
rahul
vidhi
dhanola
235
553
23535
35634

# program to print list elemnts ['q','w','e','r','t','y'] in seperate line along with here both +ve and -ve indexes

In [53]:
l = ['q', 'w', 'e', 'r', 't', 'y']
for i in range(len(l)):
    print(l[i], i, -len(l)+i)

q 0 -6
w 1 -5
e 2 -4
r 3 -3
t 4 -2
y 5 -1

# comparing the list

In [54]:
l1, l2 = [1, 2, 3], [1, 2, 3]
l3 = [1, [2, 3]]
print(l1 == l2)
print(l1 == l3)
print(l1 < l2)

# the elemnts must be of comparable typpe
print(l1 < l3)

True
False
False

TypeError: '<' not supported between instances of 'int' and 'list'

# list operations

In [55]:
# JOINING TE LIST
l1 = [1, 2, 3, 4, 5, 6]
l2 = [7, 8, 9, 0, 0]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0]

In [56]:
# replicating list
l1 = [1, 2, 3, 4, 5]
print(l1*5)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [57]:
# slicing is same as strings
l1 = [1, 2, 3, 4, 5, 6]
print(l1[2:])
print(l1[:9])
print(l1[:])
print(l1[::-1])

[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

# exract two list slice from same list and print the sum of elembnts of foirst list slice which contain every element of list index between index 5 to 15 and porgram also display te average of elents in secod slice that contain every ourth elent of list

In [58]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
s1 = l[5:15:2]
s2 = l[::4]
s = 0
for i in s1:
    s += i
print("sum from slicing 1:", s)
s = 0
for i in s2:
    s += i
print("the average foor second slicing is:", s/len(s2))

sum from slicing 1: 50
the average foor second slicing is: 9.0

# using list slice for list modification

In [59]:
l = ["one", "two", "three"]
l[0:2] = [0, 1]
print(l)
l[2:] = "604"
print(l)

[0, 1, 'three']
[0, 1, '6', '0', '4']

# delete and pop in list

In [60]:
# the delete only deletes a elemnt or a slice while pop only removes a elemnt and not the slice
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
del l[5]
print(l)
del l[6:14]
print(l)
l.pop()
print(l)
l.pop(3)
print(l)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 7, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 7, 16, 17, 18, 19]
[1, 2, 3, 5, 7, 16, 17, 18, 19]

# making a copy of list

In [61]:
# use the list() method to create a copy of a list
l1 = [1, 2, 3, 45, 5]
l2 = list(l1)
l1[2] = "rahul"
print(l1)  # elents changed
print(l2)  # not reflected in this

[1, 2, 'rahul', 45, 5]
[1, 2, 3, 45, 5]

# list functions
## the list function can be called by the listobjec.method()

In [62]:
# index()
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(l.index(16))  # gives the index of elent in list else error
print(l.index(35))  # gives the index of elent in list else error

15

ValueError: 35 is not in list

In [63]:
# append()
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
l.append("rahul")  # adds the elent to list
print(l)
# the append() method only changes the original list and not make copy

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 'rahul']

In [64]:
# extend()
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
l.extend("rahul")  # adds the elent of a sequence
l.extend(["new", "list"])
print(l)
# the extend() method only changes the original list and not make copy

# there is a difference between append and extend as
l.extend(["new1", "list2"])  # only adds sequence elements
l.extend(["new3", "list3"])  # adds the sequence as one elemnt
print(l)

# exetend() can add single elemnt and needs a sequence
l1.extend(2424)  # error
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 'r', 'a', 'h', 'u', 'l', 'new', 'list']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 'r', 'a', 'h', 'u', 'l', 'new', 'list', 'new1', 'list2', 'new3', 'list3']

TypeError: 'int' object is not iterable

In [65]:
# insert()
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
l.insert(7, "rahul")  # adds the elent to list at given position
print(l)
# if index is less than 0 and not equal to any 0ve index of range> len of list then elemnt added at the begging
print(len(l))
l.insert(-46, "vidhi")  # insert at list begin as index out of range
print(l)

[1, 2, 3, 4, 5, 6, 7, 'rahul', 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
21
['vidhi', 1, 2, 3, 4, 5, 6, 7, 'rahul', 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [66]:
# pop()
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
deleted = l.pop(4)  # remove the elent from list and return remove elemnnt
print(deleted)
print(l)
# if no argument passed themn rempvelist last elemnt ang eroor if list is emplty
l.pop()
print(l)
[].pop()

5
[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

IndexError: pop from empty list

In [67]:
# remove()
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 14, 20]
l.remove(14)  # remove the elent first occurence from list
print(l)
# give eroor if elemnt no exist
l.remove(345)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 14, 20]

ValueError: list.remove(x): x not in list

In [68]:
# clear()
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 14, 20]
l.clear()  # clear all the list but not delete the list unlike "del" does
print(l)

[]

In [69]:
# count()
l = [1, 2, 4, 5, 6, 6, 76, 7, 4, 6, 3, 6, 3, 4, 5, 3, 4, 5,
     6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(l.count(3))  # count the elent in list if present else give 0

print(l.count(23165))  # count the elent in list if present else give 0

3
0

In [70]:
# reverse()
l = [1, 2, 4, 5, 6, 6, 76, 7, 4, 6, 3, 6, 3, 4, 5, 3, 4, 5,
     6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
l.reverse()  # reverse the elent in list

print(l)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 5, 4, 3, 6, 3, 6, 4, 7, 76, 6, 6, 5, 4, 2, 1]

In [71]:
# sort()
l = [1, 2, 4, 5, 6, 6, 76, 7, 4, 6, 3, 6, 3, 4, 5, 3, 4, 5,
     6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
l.sort()  # sort the elent in list in increasing order by default
print(l)

# to sort in reverse use the reverse arg as True
l.sort(reverse=True)
print(l)

# sort cant used for complex datatypes

[1, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 76]
[76, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 7, 6, 6, 6, 6, 6, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 2, 1]

# program to find the minimum elent in the ist with its index

In [76]:
n = int(input("enter the number of list elents: "))
l = list()
for i in range(n):
    val = int(input("enter the value: "))
    l.append(val)
    l.sort()
print("maximum value is:", l[len(l)-1])

enter the number of list elents: 5
enter the value: 4551
enter the value: 35416
enter the value: 64565
enter the value: 552
enter the value: 323
maximum value is: 64565

# program to calculate mean of list eelmts

In [194]:
n = int(input("enter the number of list elents: "))
l = list()
for i in range(n):
    val = int(input("enter the value: "))
    l.append(val)

s = 0

for i in range(n):
    s += l[i]

print("mean value is:", s/len(l))

enter the number of list elents: 5
enter the value: 23
enter the value: 54
enter the value: 56
enter the value: 33
enter the value: 56
mean value is: 44.4

# program to search for a elemnt in a list

In [196]:
n = int(input("enter the number of list elents: "))
l = list()
for i in range(n):
    val = int(input("enter the value: "))
    l.append(val)

s = int(input("enter the elemnnts to serach: "))

print(s, "is at index:", l.index(s))

enter the number of list elents: 4
enter the value: 435
enter the value: 22
enter the value: 45
enter the value: 354
enter the elemnnts to serach: 22
22 is at index: 1

# program to count the frequency of a elemnt in list

In [197]:
n = int(input("enter the number of list elents: "))
l = list()
for i in range(n):
    val = int(input("enter the value: "))
    l.append(val)

val = int(input("enter the value to count: "))

print("count of value is:", l.count(val))

enter the number of list elents: 3
enter the value: 45
enter the value: 43
enter the value: 66
enter the value to count: 45
count of value is: 1

# program to count frequenccy of each elemnt and find the duplicate elent and the unique ones

In [198]:
n = int(input("enter the number of list elents: "))
l = list()
for i in range(n):
    val = int(input("enter the value: "))
    l.append(val)


u = []
d = list()

for i in l:
    if(l.count(i) > 1):
        if(i in d):
            d.append(i)
        else:
            print(i, "is no of time:", l.count(i))
            d.append(i)
    else:
        u.append(i)
        print(i, "is no of time:", l.count(i))
else:
    print("unique elemnts:", u, "duplicate elemnts:", d)

enter the number of list elents: 5
enter the value: 45
enter the value: 67
enter the value: 45
enter the value: 3
enter the value: 65
45 is no of time: 2
67 is no of time: 1
3 is no of time: 1
65 is no of time: 1
unique elemnts: [67, 3, 65] duplicate elemnts: [45, 45]

# write two list and check if both have atleast one elemnt common then print overlapped else seperated

In [199]:
l1 = eval(input("enter the list 1:"))
l2 = eval(input("enter the list 2:"))
for i in l1:
    if i in l2:
        print("overlapped")
        break
else:
    print("seperated")

enter the list 1:[1,2,3,4,5,6,7]
enter the list 2:[2,3,4,5,6,7]
overlapped

## find second largest number from list of number

In [200]:
n = int(input("enter the number of elemnts: "))
l = list()
for i in range(n):
    l.append(int(input("enter trhe elemnt: ")))
else:
    l.sort()
    print("second largset is:", l[-2])

enter the number of elemnts: 4
enter trhe elemnt: 54
enter trhe elemnt: 34
enter trhe elemnt: 67
enter trhe elemnt: 54
second largset is: 54

# input list of numbers and shift all zero to right and non-zero to

In [201]:
.ksdn
les
lf

SyntaxError: invalid syntax (<ipython-input-201-56547179abe6>, line 1)

# TUPLES IN PYTHON

In [202]:
# tuples in the python are the immutable datatypes and cabn have collection of different datatypes
l = tuple()  # creates an empty tuple
l = ()  # creates an empty tuple
l = (1, 2, 3, 4, "rahul", "vidhi")
t = (1, 2, 3, 4,)  # valid way

In [203]:
# long tuple can be wriitrrn in dseperate lines
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0,
     11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [204]:
# nested tuple
t = (1, 2, 3, 4, 5, (6, 7, 8, 9, 0, 1), 2, 3, 4, 5, 6, 7)
t

(1, 2, 3, 4, 5, (6, 7, 8, 9, 0, 1), 2, 3, 4, 5, 6, 7)

In [205]:
# tuple by existing sequence
t = tuple("rahul")
print(t)

('r', 'a', 'h', 'u', 'l')

# similarity of tuple with strings

In [206]:
l = (1, 2, 3, 4, 5)
print(l[0] == l[-5], l[0])
print(l[1] == l[-4], l[1])
print(l[2] == l[-3], l[2])
print(l[3] == l[-2], l[3])
print(l[4] == l[-1], l[4])

True 1
True 2
True 3
True 4
True 5

In [207]:
# slicing in tuple is same as strings
print(l[2:])

(3, 4, 5)

# the only difference between list and tuple is that list is mutable while tuple are not mutable

In [208]:
l1 = list("rahul")
l1[0] = "d"
print(l1)
l = tuple("rahul")
l[0] = "d"
print(l)

['d', 'a', 'h', 'u', 'l']

TypeError: 'tuple' object does not support item assignment

# traversing a tuple is done similar like traversing a sequence

In [77]:
l = (1, 2, 3, 4, 5, "rahul", "vidhi", "dhanola", "235", "553", 23535, 35634)
for elements in l:
    print(elements)

1
2
3
4
5
rahul
vidhi
dhanola
235
553
23535
35634

# program to print the elenet of a tuple with both +ve ad -ve indexes

In [78]:
n = int(input("enter the number of elemnts: "))
t = tuple()

for i in range(n):
    t += (int(input("enter the elemnt")),)

for i in range(len(t)):
    print(i, "=", i-len(t), "=>", t[i])

enter the number of elemnts: 5
enter the elemnt23
enter the elemnt45
enter the elemnt665
enter the elemnt234
enter the elemnt765
0 = -5 => 23
1 = -4 => 45
2 = -3 => 665
3 = -2 => 234
4 = -1 => 765

# tuple operations

In [79]:
# JOINING TE tuple
l1 = (1, 2, 3, 4, 5, 6)
l2 = (7, 8, 9, 0, 0)
print(l1+l2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0)

In [80]:
# you cant join singlkwe elemnt directly with tuple it give error
l1+(3,)  # valid
l1+(3)  # invalid

TypeError: can only concatenate tuple (not "int") to tuple

In [81]:
# replicating tupole
l1 = (1, 2, 3, 4, 5)
print(l1*5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [82]:
# slicing is same as strings
l1 = (1, 2, 3, 4, 5, 6)
print(l1[2:])
print(l1[:9])
print(l1[:])
print(l1[::-1])

(3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(6, 5, 4, 3, 2, 1)

# comparing the tuples

In [83]:
l1, l2 = (1, 2, 3), (1, 2, 3)
l3 = (1, (2, 3))
print(l1 == l2)
print(l1 == l3)
print(l1 < l2)

# the elemnts must be of comparable typpe
print(l1 < l3)

True
False
False

TypeError: '<' not supported between instances of 'int' and 'tuple'

# unpacking the tuple elemnts

In [84]:
t = (1, 2, 3)
a, b, c = t
print(a, b, c, sep='\n')

1
2
3

# delete in tuples

In [85]:
# the delete only deletes complete tuple only
l = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
del l

# tuple functions and methods

In [86]:
# len()
l = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(len(l))  # sequence length

20

In [87]:
# max()
l = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(max(l))  # maximum elmnt if values are of same type

20

In [88]:
# min()
l = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(min(l))  # minimum elmnt if values are of same type

1

In [89]:
# index()
l = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(l.index(16))  # gives the index of elent in list else error
print(l.index(35))  # gives the index of elent in list else error

15

ValueError: tuple.index(x): x not in tuple

In [90]:
# count()
l = (1, 2, 4, 5, 6, 6, 76, 7, 4, 6, 3, 6, 3, 4, 5, 3, 4, 5,
     6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(l.count(3))  # count the elent in list if present else give 0

print(l.count(23165))  # count the elent in list if present else give 0

3
0

In [91]:
# tuple()
t = tuple([1, 2, 3, 4, 5])
print(type(t), t)  # creates tuple from given sequence
t = tuple()
print(type(t), t)  # create empty tuple

<class 'tuple'> (1, 2, 3, 4, 5)
<class 'tuple'> ()

# given a tuple T(1,2,"a","b"), there is a list with some elemnts replace first four elelmnts of the list with all four elemnts of the tuple in single statement, print the list before and asfetr the list modified

In [92]:
T = (1, 2, "a", "b")
l = [1, 2, 3, 4, 5, 6, 7, 87, 9, 3, 4, 5, 3, 4, 5, 4]

print("bfore modified:", l)

l[:4] = T

print("after modified:", l)

bfore modified: [1, 2, 3, 4, 5, 6, 7, 87, 9, 3, 4, 5, 3, 4, 5, 4]
after modified: [1, 2, 'a', 'b', 5, 6, 7, 87, 9, 3, 4, 5, 3, 4, 5, 4]

# write a python program to take tuple as input and return the second lsargest elemnt in it

In [94]:
t = eval(input("enter the tuple: "))

fl = max(t)

sl = 0

for i in range(len(t)):
    if(i == t.index(fl)):
        continue
    else:
        if(t[i] > sl):
            sl = t[i]
else:
    print("the second largest elent is:", sl)

enter the tuple: (1,223,2342,3221,121)
the second largest elent is: 2342

# a program to input n numbers and returns a tuple having elents x,x^2,x^3,x^4 for each element

In [95]:
import math

n = int(input("enter the number of integers: "))
for i in range(n):
    num = int(input("enter the number: "))
    print("the tuple is:", (num, num**2, num**3, num**4,))

enter the number of integers: 4
enter the number: 23
the tuple is: (23, 529, 12167, 279841)
enter the number: 5
the tuple is: (5, 25, 125, 625)
enter the number: 53
the tuple is: (53, 2809, 148877, 7890481)
enter the number: 324
the tuple is: (324, 104976, 34012224, 11019960576)

# DICTIONARIES IN PYTHON

## dictionary have a key-value pair where each value have a unique key associated with it

In [96]:
# dictionary are mutable daatype

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}
print(d)

{'name': 'rahul', 'class': '3rd year', 'roll no': 'r177236267', 'sap id': '580983'}

In [97]:
# the dicitionary can also be created by dict() function
d = dict()

empty_d = {}  # empty dicitionary

empty_d

{}

In [98]:
# the dictionary keys must always be immutable and the immutable sequence if provided as key they must dont
# have mutable values

d = {[1, 2, 3, 4]: "rahul", 4: [1, 2, 3, 4]}  # error

d

TypeError: unhashable type: 'list'

# accessing the dictionary elemts

In [99]:
# the dictionary are arranged in the form of index internally with the keys
d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

d['roll no']

'r177236267'

In [101]:
# attempt to undefined key give error

d['naam']

KeyError: 'naam'

# traversing a dictionary

In [102]:
# we can use for loops to traverse using the keys

for keys in d:
    print(d[keys])

rahul
3rd year
r177236267
580983

# program to craete a phone dictionary and print it

In [103]:
d = {"rahul": 4574586985, "vidhi": 6547845125,
     "dhanola": 7845125469, "police": 100, "ememrgency": 112}
for names in d:
    print(names, "=", d[names])


# printed orfer of elemnts is not same as you store in dicitiobnary

rahul = 4574586985
vidhi = 6547845125
dhanola = 7845125469
police = 100
ememrgency = 112

# accessing the keys and values simuntaneosl

In [104]:
# use the keys() to get dictionary keys and values() for value

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print(d.keys())

print(d.values())

# the returned sequence can be converted to any sequnce i.e. list, tuple

dict_keys(['name', 'class', 'roll no', 'sap id'])
dict_values(['rahul', '3rd year', 'r177236267', '580983'])

# dicitionary are mutable as

In [105]:
d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

d['roll no'] = 327853278

d

{'name': 'rahul',
 'class': '3rd year',
 'roll no': 327853278,
 'sap id': '580983'}

In [106]:
# also we can add the ew key value pair

d["subject"] = "study material"

d

{'name': 'rahul',
 'class': '3rd year',
 'roll no': 327853278,
 'sap id': '580983',
 'subject': 'study material'}

In [107]:
# they can also be created as
d = dict(name="rahul", school="my school")

d

{'name': 'rahul', 'school': 'my school'}

In [108]:
# another method is store keys and values in different parenthesis and then uing the zip() to form dict

d = dict(zip(("name", "roll no", "class"), ("rahul", "2787582", "my class")))

d

{'name': 'rahul', 'roll no': '2787582', 'class': 'my class'}

In [109]:
# another method

d = dict([['name', "rahul"], ["age", 18], ["roll no", "r32478"]])

d

{'name': 'rahul', 'age': 18, 'roll no': 'r32478'}

In [110]:
# another method

d = dict((('name', "rahul"), ("age", 18), ("roll no", "r32478")))

d

# usinfg dict() is slower than {}

{'name': 'rahul', 'age': 18, 'roll no': 'r32478'}

# program to craete dictionary of dctionary for employees

In [111]:
d = {"rahul": {"age": 18, "dob": "dec"}, "vidhi": {"age": 43, "dob": "feb"}}

for employee in d:
    print("employee:", employee, "\nage:", d[employee]['age'])

employee: rahul
age: 18
employee: vidhi
age: 43

# program to store the names of the compettitior with there no f wins

In [113]:
n = int(input("enter the number of name: "))
d = {}
for i in range(n):
    name = input("enter the name: ")
    win = int(input("enter the number of wins: "))
    d[name] = win
else:
    print("the dictionary is:", d)

enter the number of name: 4
enter the name: rahul
enter the number of wins: 324
enter the name: rohan
enter the number of wins: 234
enter the name: shohaib
enter the number of wins: 234
enter the name: vikram
enter the number of wins: 123
the dictionary is: {'rahul': 324, 'rohan': 234, 'shohaib': 234, 'vikram': 123}

# deleting elemnts from dictionary

In [114]:
# use the del keyword for this

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

del d['name']

d

{'class': '3rd year', 'roll no': 'r177236267', 'sap id': '580983'}

In [115]:
# other method is pop

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

d.pop('name')

d

{'class': '3rd year', 'roll no': 'r177236267', 'sap id': '580983'}

# checking a key in dictionary

In [116]:
# you can use in and not in for this

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print("name" in d)

print("address" in d)

print("name" not in d)

print("address" not in d)

# these only look in keys and not values

True
False
False
True

In [117]:
# but for abe last line use values()

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print("rahul" in d.values())
print("hey" in d.values())
print("rahul" not in d.values())
print("hey" not in d.values())

True
False
False
True

# pretty printing dictionary

In [118]:
# if you want to print large dictionary in readable and organized way use dumps() of json module
# synatax:  json.dumps(<dict name>,indent=<n>)
import json

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print(d)

print(json.dumps(d, indent=2))

{'name': 'rahul', 'class': '3rd year', 'roll no': 'r177236267', 'sap id': '580983'}
{
  "name": "rahul",
  "class": "3rd year",
  "roll no": "r177236267",
  "sap id": "580983"
}

# split() for strings

In [119]:
# it splits a string into list

print("rahul is boy".split())

print("rahul,is,boy".split(","))

['rahul', 'is', 'boy']
['rahul', 'is', 'boy']

# program to count the frequency of a list elemnnt using dictionary

In [210]:
import json

l = [984, 98, 9459, 9459, 94, 949, 9459, 959, 949, 4949, 949,
     95, 59659, 89*89*646, 65*980, 654*8*654, 54**2, 8*54]

d = {}

for element in l:
    if(element in d):
        d[element] += 1
    else:
        d[element] = 1
else:
    print(json.dumps(d, indent=2))

{
  "984": 1,
  "98": 1,
  "9459": 3,
  "94": 1,
  "949": 3,
  "959": 1,
  "4949": 1,
  "95": 1,
  "59659": 1,
  "5116966": 1,
  "63700": 1,
  "3421728": 1,
  "2916": 1,
  "432": 1
}

# dictionary functions

In [211]:
# len()

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print(len(d))  # length of dictionary

4

In [212]:
# clear()

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

d.clear()  # clear al elemnts

print(d)

{}

In [213]:
# get()

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print(d.get("class"))  # value at givemn key

# if not resent yopu can give ypour own value

print(d.get("hi", "not available"))  # value at givemn key

3rd year
not available

In [214]:
# items()

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print(d.items())  # print key-value pair as tuple

for ky, val in d.items():
    print(ky, val)

dict_items([('name', 'rahul'), ('class', '3rd year'), ('roll no', 'r177236267'), ('sap id', '580983')])
name rahul
class 3rd year
roll no r177236267
sap id 580983

In [215]:
# keys()

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print(d.keys())  # print all keys

dict_keys(['name', 'class', 'roll no', 'sap id'])

In [216]:
# values()

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

print(d.values())  # print all values

dict_values(['rahul', '3rd year', 'r177236267', '580983'])

In [217]:
# update()

d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

d2 = {"hi": "hjkdfs", "name": "vidhi"}

d.update(d2)  # update or add the keys in dict

print(d)

{'name': 'vidhi', 'class': '3rd year', 'roll no': 'r177236267', 'sap id': '580983', 'hi': 'hjkdfs'}

# write a program to check if a value exist in dictionbary then print its key

In [218]:
d = {"name": "rahul", "class": "3rd year",
     "roll no": "r177236267", "sap id": "580983"}

value = input("enter the value: ")
for key in d:
    if(value == d[key]):
        print("value in the key: ", key)
        break
else:
    print("value not exist in dictionary")

enter the value: 34
value not exist in dictionary

# marks of student "A", "B", "C" are stored in d print there name with marks in each sub using nested dict

## d1={1:40,2:40,3:70}
## d2={1:40,2:50,3:60}
## d3={1:70,2:80,3:90}

In [220]:
import json

d1 = {1: 40, 2: 40, 3: 70}
d2 = {1: 40, 2: 50, 3: 60}
d3 = {1: 70, 2: 80, 3: 90}

d = {"A": d1, "B": d2, "C": d3}

print(json.dumps(d, indent=2))

for name in d:
    for sub in d[name]:
        print(name, "\n marks in sunject", sub, "=", d[name][sub])

{
  "A": {
    "1": 40,
    "2": 40,
    "3": 70
  },
  "B": {
    "1": 40,
    "2": 50,
    "3": 60
  },
  "C": {
    "1": 70,
    "2": 80,
    "3": 90
  }
}
A
 marks in sunject 1 = 40
A
 marks in sunject 2 = 40
A
 marks in sunject 3 = 70
B
 marks in sunject 1 = 40
B
 marks in sunject 2 = 50
B
 marks in sunject 3 = 60
C
 marks in sunject 1 = 70
C
 marks in sunject 2 = 80
C
 marks in sunject 3 = 90

# consider a dictionary my_points={'a':(4,3),'b':(1,2),'c':(5,1)}. write code to print the maximum of the 0th index of tuple from all keys

In [1]:
my_points={'a':(4,3),'b':(1,2),'c':(5,1)}
print("the maximum value from alll the index is: ")
x=y=0
for key in my_points:
    if(my_points[key][0]>x):
        x=my_points[key][0]
    elif(my_points[key][1]>y):
        y=my_points[key][1]
    else:
        continue

print("0th index:",x,"\n1st index:",y)

the maximum value from alll the index is:
0th index: 5
1st index: 2

#

#

#  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  ~ ~

# * * * *  END OF PYTHON BASIC NOTEBOOK - I * * * * * *

#  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  ~ ~

#

####